In [1]:
import numpy as np
import pandas as pd
import scipy.stats as ss
import matplotlib.pyplot as plt
import IPython.display as idis
import seaborn as sns
import copy
import scipy.stats as stat
import functools 
%matplotlib inline
pd.options.display.max_rows = 999
pd.options.display.max_columns = 300

In [2]:
#load data

Mimic_data = '/home/student/huy/mnt/mrAnKhuongData/storage/data/curated/all_hourly_data.h5'
vitals_data = pd.read_hdf(Mimic_data, 'vitals_labs')
interventions = pd.read_hdf(Mimic_data, 'interventions')
patients = pd.read_hdf(Mimic_data, 'patients')

In [3]:
#get shape of data

print(vitals_data.shape)
print(interventions.shape)
print(patients.shape)

(3768901, 312)
(3768901, 14)
(38604, 17)

In [4]:
patients.head(40)

,,,gender,ethnicity,age,insurance,admittime,dischtime,deathtime,intime,outtime,los_icu,admission_type,first_careunit,mort_icu,mort_hosp,hospital_expire_flag,hospstay_seq,max_hours
subject_id,hadm_id,icustay_id,,,,,,,,,,,,,,,,,
3,145834,211552,M,WHITE,76.5268,Medicare,2101-10-20 19:08:00,2101-10-31 13:58:00,NaT,2101-10-20 19:10:11,2101-10-26 20:43:09,6.0646,EMERGENCY,MICU,0,0,0,1,145
4,185777,294638,F,WHITE,47.8450,Private,2191-03-16 00:28:00,2191-03-23 18:41:00,NaT,2191-03-16 00:29:31,2191-03-17 16:46:31,1.6785,EMERGENCY,MICU,0,0,0,1,40
6,107064,228232,F,WHITE,65.9407,Medicare,2175-05-30 07:15:00,2175-06-15 16:00:00,NaT,2175-05-30 21:30:54,2175-06-03 13:39:54,3.6729,ELECTIVE,SICU,0,0,0,1,88
9,150750,220597,M,UNKNOWN/NOT SPECIFIED,41.7902,Medicaid,2149-11-09 13:06:00,2149-11-14 10:15:00,2149-11-14 10:15:00,2149-11-09 13:07:02,2149-11-14 20:52:14,5.3231,EMERGENCY,MICU,1,1,1,1,127
11,194540,229441,F,WHITE,50.1483,Private,2178-04-16 06:18:00,2178-05-11 19:00:00,NaT,2178-04-16 06:19:32,2178-04-17 20:21:05,1.5844,EMERGENCY,SICU,0,0,0,1,38
12,112213,232669,M,WHITE,72.3724,Medicare,2104-08-07 10:15:00,2104-08-20 02:57:00,2104-08-20 02:57:00,2104-08-08 02:08:17,2104-08-15 17:22:25,7.6348,ELECTIVE,SICU,0,1,1,1,183
13,143045,263738,F,WHITE,39.8661,Medicaid,2167-01-08 18:43:00,2167-01-15 15:15:00,NaT,2167-01-08 18:44:25,2167-01-12 10:43:31,3.6660,EMERGENCY,CCU,0,0,0,1,87
17,194023,277042,F,WHITE,47.4543,Private,2134-12-27 07:15:00,2134-12-31 16:05:00,NaT,2134-12-27 16:21:48,2134-12-29 18:04:03,2.0710,ELECTIVE,CSRU,0,0,0,1,49
18,188822,298129,M,WHITE,50.8416,Private,2167-10-02 11:18:00,2167-10-04 16:15:00,NaT,2167-10-02 11:20:39,2167-10-03 18:16:05,1.2885,EMERGENCY,CCU,0,0,0,1,30
19,109235,273430,M,WHITE,300.0030,Medicare,2108-08-05 16:25:00,2108-08-11 11:29:00,NaT,2108-08-05 16:26:09,2108-08-06 23:40:35,1.3017,EMERGENCY,TSICU,0,0,0,1,31
20,157681,264490,F,WHITE,75.8768,Medicare,2183-04-28 09:45:00,2183-05-03 14:45:00,NaT,2183-04-28 15:00:36,2183-04-29 16:13:48,1.0508,ELECTIVE,CSRU,0,0,0,1,25
21,109451,217847,M,WHITE,87.4393,Medicare,2134-09-11 12:17:00,2134-09-24 16:15:00,NaT,2134-09-11 20:50:04,2134-09-17 18:28:32,5.9017,EMERGENCY,CCU,0,0,0,1,141
22,165315,204798,F,WHITE,64.9282,Private,2196-04-09 12:26:00,2196-04-10 15:54:00,NaT,2196-04-09 12:27:00,2196-04-10 15:54:00,1.1438,EMERGENCY,MICU,0,0,0,1,27
23,152223,227807,M,WHITE,71.1317,Medicare,2153-09-03 07:15:00,2153-09-08 19:10:00,NaT,2153-09-03 09:38:55,2153-09-04 15:59:11,1.2641,ELECTIVE,CSRU,0,0,0,1,30
24,161859,262236,M,WHITE,39.0171,Private,2139-06-06 16:14:00,2139-06-09 12:48:00,NaT,2139-06-06 16:15:36,2139-06-07 04:33:25,0.5124,EMERGENCY,CCU,0,0,0,1,12
25,129635,203487,M,WHITE,58.9502,Private,2160-11-02 02:06:00,2160-11-05 14:55:00,NaT,2160-11-02 03:16:23,2160-11-05 16:23:27,3.5466,EMERGENCY,CCU,0,0,0,1,85
26,197661,244882,M,UNKNOWN/NOT SPECIFIED,72.0061,Medicare,2126-05-06 15:16:00,2126-05-13 15:00:00,NaT,2126-05-07 09:52:30,2126-05-09 13:15:05,2.1407,EMERGENCY,CCU,0,0,0,1,51
28,162569,225559,M,WHITE,74.3844,Medicare,2177-09-01 07:15:00,2177-09-06 16:00:00,NaT,2177-09-01 09:32:26,2177-09-02 12:28:42,1.1224,ELECTIVE,CSRU,0,0,0,1,26
30,104557,225176,M,UNKNOWN/NOT SPECIFIED,300.0027,Medicare,2172-10-14 14:17:00,2172-10-19 14:37:00,NaT,2172-10-14 17:24:00,2172-10-16 13:44:00,1.8472,URGENT,CCU,0,0,0,1,44
31,128652,254478,M,WHITE,72.2671,Medicare,2108-08-22 23:27:00,2108-08-30 15:00:00,2108-08-30 15:00:00,2108-08-22 23:28:42,2108-08-30 21:59:20,7.9379,EMERGENCY,MICU,1,1,1,1,190
32,175413,295037,M,WHITE,45.5132,Medicaid,2170-04-04 08:00:00,2170-04-23 12:45:00,NaT,2170-04-04 18:46:00,2170-04-12 11:13:00,7.6854,ELECTIVE,TSICU,0,0,0,1,184
33,176176,296681,M,UNKNOWN/NOT SPECIFIED,82.3945,Medicare,2116-12-23 22:30:00,2116-12-27 12:05:00,NaT,2116-12-23 22:31:53,2116-12-25 11:49:55,1.5542,EMERGENCY,MICU,0,0,0,1,37
34,115799,263086,M,WHITE,300.0030,Medicare,2186-07-18 16:46:00,2186-07-20 16:00:00,NaT,2186-07-18 18:10:49,2186-07-19 11:27:20,0.7198,EMERGENCY,MICU,0,0,0,1,17
35,166707,282039,F,WHITE,69.4429,Medicare,2122-02-10 11:15:00,2122-02-20 15:30:00,NaT,2122-02-10 09:39:59,2122-02-15 18:41:01,5.3757,ELECTIVE,CSRU,0,0,0,1,129
36,182104,280987,M,WHITE,69.6998,Medicare,2131-04-30 07:15:00,2131-05-08 14:00:00,NaT,2131-05-04 10:29:14,2131-05-05 13:07:03,1.1096,EMERGENCY,CSRU,0,0,0,1,26
37,188670,213503,M,WHITE,68.9288,Medicare,2183-08-21 16:48:00,2183-08-26 18:54:00,NaT,2183-08-23 12:01:45,2183-08-24 15:22:53,1.1397,EMERGENCY,MICU,0,0,0,1,27
38,185910,248910,M,WHITE,75.9415,Medicare,2166-08-10 00:28:00,2166-09-04 11:30:00,NaT,2166-08-10 00:29:36,2166-09-04 13:39:23,25.5485,EMERGENCY,CCU,0,0,0,1,613
41,101757,261027,M,WHITE,56.6349,Private,2132-12-31 10:30:00,2133-01-27 15:45:00,NaT,2133-01-03 06:34:40,2133-01-06 16:01:33,3.3937,ELECTIVE,SICU,0,0,0,1,81
42,119203,210828,M,UNKNOWN/NOT SPECIFIED,61.1671,Private,2116-04-26 18:58:00,2116-04-30 18:16:00,NaT,2116-04-26 18:59:35,2116-04-28 16:39:05,1.9024,EMERGENCY,CCU,0,0,0,1,45
43,146828,225852,M,WHITE,32.7700,Private,2186-10-01 23:15:00,2186-10-11 18:00:00,NaT,2186-10-01 23:16:40,2186-10-06 14:16:54,4.6252,EMERGENCY,TSICU,0,0,0,1,111
44,181750,291554,M,UNKNOWN/NOT SPECIFIED,80.1845,Medicare,2192-11-19 18:14:00,2192-11-27 14:35:00,NaT,2192-11-20 10:42:55,2192-11-24 14:18:50,4.1499,EMERGENCY,CSRU,0,0,0,1,99
45,157907,274249,M,WHITE,42.4048,Private,2129-06-10 00:32:00,2129-06-20 14:39:00,NaT,2129-06-10 00:33:00,2129-06-11 16:34:00,1.6674,EMERGENCY,TSICU,0,0,0,1,40
46,144073,268016,M,WHITE,73.9996,Medicare,2133-02-20 18:21:00,2133-02-24 14:42:00,NaT,2133-02-20 18:22:30,2133-02-21 12:49:55,0.7690,EMERGENCY,MICU,0,0,0,1,18
49,190539,249195,M,WHITE,80.9170,Medicare,2186-11-21 07:15:00,2186-11-28 14:05:00,NaT,2186-11-21 10:33:36,2186-11-22 12:13:33,1.0694,ELECTIVE,CSRU,0,0,0,1,25
52,190797,261857,M,WHITE,38.1229,Private,2191-01-10 02:12:00,2191-01-19 16:10:00,NaT,2191-01-10 02:12:55,2191-01-11 22:37:31,1.8504,EMERGENCY,MICU,0,0,0,1,44
53,155385,239839,M,UNKNOWN/NOT SPECIFIED,45.5529,Private,2170-03-20 20:20:00,2170-03-23 18:00:00,NaT,2170-03-20 20:21:12,2170-03-22 11:44:34,1.6412,EMERGENCY,CCU,0,0,0,1,39
55,190665,262723,F,WHITE,64.1623,Medicare,2136-04-03 18:35:00,2136-04-05 14:30:00,NaT,2136-04-03 18:35:36,2136-04-05 16:31:29,1.9138,EMERGENCY,CCU,0,0,0,1,45
56,181711,275642,F,WHITE,300.0013,Medicare,2104-01-02 02:01:00,2104-01-08 10:30:00,2104-01-08 10:30:00,2104-01-02 02:02:39,2104-01-03 22:25:29,1.8492,EMERGENCY,SICU,0,1,1,1,44
59,104130,224440,F,WHITE,87.0949,Medicare,2197-11-14 17:07:00,2197-11-19 16:42:00,NaT,2197-11-14 17:07:48,2197-11-16 21:58:12,2.2017,EMERGENCY,MICU,0,0,0,1,52
61,176332,252348,M,WHITE,54.6558,Private,2118-06-17 14:40:00,2118-07-20 12:30:00,NaT,2118-07-11 23:55:57,2118-07-14 13:21:01,2.5591,ELECTIVE,MICU,0,0,0,1,61

In [5]:
# list_nat_admittime = [patients.index[index][0] for index in range(0, patients.shape[0]) if type(patients.iloc[index,patients.columns.get_loc('intime')]) == pd._libs.tslibs.nattype.NaTType]

# list_nat_admittime

In [6]:
# patients = patients.drop(list_nat_admittime)
# patients.head(30)

In [7]:
# Abnormality behavior : admit time (hospital) after in time (icu)
# If admit time (hospital) after in time (icu) (see sorted list gap time in explore_data_mimic file), we will change
# the admit time to icu time

# abnormal_amittime_patients_index = list(patients.loc[patients['admittime'] > patients['intime']].index.get_level_values('subject_id'))

# for subject_id in abnormal_amittime_patients_index:
#     patients.loc[subject_id,'admittime'] = patients.loc[subject_id,'intime']
    
# patients.loc[patients['admittime'] > patients['intime']]

abnormal_amittime_patients_index = functools.reduce(lambda x, y: x + [y] if patients.iloc[y,patients.columns.get_loc('admittime')] > patients.iloc[y,patients.columns.get_loc('intime')] else x +[], [i for i in range(0,patients.shape[0])] ,[])

abnormal_amittime_patients_index


for index in abnormal_amittime_patients_index:
    patients.iloc[index,patients.columns.get_loc('admittime')] = patients.iloc[index,patients.columns.get_loc('intime')]

patients.loc[patients['admittime'] > patients['intime']]

Empty DataFrame
Columns: [gender, ethnicity, age, insurance, admittime, dischtime, deathtime, intime, outtime, los_icu, admission_type, first_careunit, mort_icu, mort_hosp, hospital_expire_flag, hospstay_seq, max_hours]
Index: []

In [8]:
# patients.iloc[[2,4],patients.columns.get_loc('deathtime')] = patients.iloc[0,patients.columns.get_loc('admittime')]
# sum(pd.isna(patients.iloc[:,patients.columns.get_loc('admittime')]))
# type(patients.iloc[2,patients.columns.get_loc('deathtime')])==pd._libs.tslibs.nattype.NaTType
# patients = patients.drop(list_NaT_deathtime)
# patients.iloc[6,patients.columns.get_loc('deathtime')] = patients.iloc[6,patients.columns.get_loc('intime')]

patients.head(40)

,,,gender,ethnicity,age,insurance,admittime,dischtime,deathtime,intime,outtime,los_icu,admission_type,first_careunit,mort_icu,mort_hosp,hospital_expire_flag,hospstay_seq,max_hours
subject_id,hadm_id,icustay_id,,,,,,,,,,,,,,,,,
3,145834,211552,M,WHITE,76.5268,Medicare,2101-10-20 19:08:00,2101-10-31 13:58:00,NaT,2101-10-20 19:10:11,2101-10-26 20:43:09,6.0646,EMERGENCY,MICU,0,0,0,1,145
4,185777,294638,F,WHITE,47.8450,Private,2191-03-16 00:28:00,2191-03-23 18:41:00,NaT,2191-03-16 00:29:31,2191-03-17 16:46:31,1.6785,EMERGENCY,MICU,0,0,0,1,40
6,107064,228232,F,WHITE,65.9407,Medicare,2175-05-30 07:15:00,2175-06-15 16:00:00,NaT,2175-05-30 21:30:54,2175-06-03 13:39:54,3.6729,ELECTIVE,SICU,0,0,0,1,88
9,150750,220597,M,UNKNOWN/NOT SPECIFIED,41.7902,Medicaid,2149-11-09 13:06:00,2149-11-14 10:15:00,2149-11-14 10:15:00,2149-11-09 13:07:02,2149-11-14 20:52:14,5.3231,EMERGENCY,MICU,1,1,1,1,127
11,194540,229441,F,WHITE,50.1483,Private,2178-04-16 06:18:00,2178-05-11 19:00:00,NaT,2178-04-16 06:19:32,2178-04-17 20:21:05,1.5844,EMERGENCY,SICU,0,0,0,1,38
12,112213,232669,M,WHITE,72.3724,Medicare,2104-08-07 10:15:00,2104-08-20 02:57:00,2104-08-20 02:57:00,2104-08-08 02:08:17,2104-08-15 17:22:25,7.6348,ELECTIVE,SICU,0,1,1,1,183
13,143045,263738,F,WHITE,39.8661,Medicaid,2167-01-08 18:43:00,2167-01-15 15:15:00,NaT,2167-01-08 18:44:25,2167-01-12 10:43:31,3.6660,EMERGENCY,CCU,0,0,0,1,87
17,194023,277042,F,WHITE,47.4543,Private,2134-12-27 07:15:00,2134-12-31 16:05:00,NaT,2134-12-27 16:21:48,2134-12-29 18:04:03,2.0710,ELECTIVE,CSRU,0,0,0,1,49
18,188822,298129,M,WHITE,50.8416,Private,2167-10-02 11:18:00,2167-10-04 16:15:00,NaT,2167-10-02 11:20:39,2167-10-03 18:16:05,1.2885,EMERGENCY,CCU,0,0,0,1,30
19,109235,273430,M,WHITE,300.0030,Medicare,2108-08-05 16:25:00,2108-08-11 11:29:00,NaT,2108-08-05 16:26:09,2108-08-06 23:40:35,1.3017,EMERGENCY,TSICU,0,0,0,1,31
20,157681,264490,F,WHITE,75.8768,Medicare,2183-04-28 09:45:00,2183-05-03 14:45:00,NaT,2183-04-28 15:00:36,2183-04-29 16:13:48,1.0508,ELECTIVE,CSRU,0,0,0,1,25
21,109451,217847,M,WHITE,87.4393,Medicare,2134-09-11 12:17:00,2134-09-24 16:15:00,NaT,2134-09-11 20:50:04,2134-09-17 18:28:32,5.9017,EMERGENCY,CCU,0,0,0,1,141
22,165315,204798,F,WHITE,64.9282,Private,2196-04-09 12:26:00,2196-04-10 15:54:00,NaT,2196-04-09 12:27:00,2196-04-10 15:54:00,1.1438,EMERGENCY,MICU,0,0,0,1,27
23,152223,227807,M,WHITE,71.1317,Medicare,2153-09-03 07:15:00,2153-09-08 19:10:00,NaT,2153-09-03 09:38:55,2153-09-04 15:59:11,1.2641,ELECTIVE,CSRU,0,0,0,1,30
24,161859,262236,M,WHITE,39.0171,Private,2139-06-06 16:14:00,2139-06-09 12:48:00,NaT,2139-06-06 16:15:36,2139-06-07 04:33:25,0.5124,EMERGENCY,CCU,0,0,0,1,12
25,129635,203487,M,WHITE,58.9502,Private,2160-11-02 02:06:00,2160-11-05 14:55:00,NaT,2160-11-02 03:16:23,2160-11-05 16:23:27,3.5466,EMERGENCY,CCU,0,0,0,1,85
26,197661,244882,M,UNKNOWN/NOT SPECIFIED,72.0061,Medicare,2126-05-06 15:16:00,2126-05-13 15:00:00,NaT,2126-05-07 09:52:30,2126-05-09 13:15:05,2.1407,EMERGENCY,CCU,0,0,0,1,51
28,162569,225559,M,WHITE,74.3844,Medicare,2177-09-01 07:15:00,2177-09-06 16:00:00,NaT,2177-09-01 09:32:26,2177-09-02 12:28:42,1.1224,ELECTIVE,CSRU,0,0,0,1,26
30,104557,225176,M,UNKNOWN/NOT SPECIFIED,300.0027,Medicare,2172-10-14 14:17:00,2172-10-19 14:37:00,NaT,2172-10-14 17:24:00,2172-10-16 13:44:00,1.8472,URGENT,CCU,0,0,0,1,44
31,128652,254478,M,WHITE,72.2671,Medicare,2108-08-22 23:27:00,2108-08-30 15:00:00,2108-08-30 15:00:00,2108-08-22 23:28:42,2108-08-30 21:59:20,7.9379,EMERGENCY,MICU,1,1,1,1,190
32,175413,295037,M,WHITE,45.5132,Medicaid,2170-04-04 08:00:00,2170-04-23 12:45:00,NaT,2170-04-04 18:46:00,2170-04-12 11:13:00,7.6854,ELECTIVE,TSICU,0,0,0,1,184
33,176176,296681,M,UNKNOWN/NOT SPECIFIED,82.3945,Medicare,2116-12-23 22:30:00,2116-12-27 12:05:00,NaT,2116-12-23 22:31:53,2116-12-25 11:49:55,1.5542,EMERGENCY,MICU,0,0,0,1,37
34,115799,263086,M,WHITE,300.0030,Medicare,2186-07-18 16:46:00,2186-07-20 16:00:00,NaT,2186-07-18 18:10:49,2186-07-19 11:27:20,0.7198,EMERGENCY,MICU,0,0,0,1,17
35,166707,282039,F,WHITE,69.4429,Medicare,2122-02-10 09:39:59,2122-02-20 15:30:00,NaT,2122-02-10 09:39:59,2122-02-15 18:41:01,5.3757,ELECTIVE,CSRU,0,0,0,1,129
36,182104,280987,M,WHITE,69.6998,Medicare,2131-04-30 07:15:00,2131-05-08 14:00:00,NaT,2131-05-04 10:29:14,2131-05-05 13:07:03,1.1096,EMERGENCY,CSRU,0,0,0,1,26
37,188670,213503,M,WHITE,68.9288,Medicare,2183-08-21 16:48:00,2183-08-26 18:54:00,NaT,2183-08-23 12:01:45,2183-08-24 15:22:53,1.1397,EMERGENCY,MICU,0,0,0,1,27
38,185910,248910,M,WHITE,75.9415,Medicare,2166-08-10 00:28:00,2166-09-04 11:30:00,NaT,2166-08-10 00:29:36,2166-09-04 13:39:23,25.5485,EMERGENCY,CCU,0,0,0,1,613
41,101757,261027,M,WHITE,56.6349,Private,2132-12-31 10:30:00,2133-01-27 15:45:00,NaT,2133-01-03 06:34:40,2133-01-06 16:01:33,3.3937,ELECTIVE,SICU,0,0,0,1,81
42,119203,210828,M,UNKNOWN/NOT SPECIFIED,61.1671,Private,2116-04-26 18:58:00,2116-04-30 18:16:00,NaT,2116-04-26 18:59:35,2116-04-28 16:39:05,1.9024,EMERGENCY,CCU,0,0,0,1,45
43,146828,225852,M,WHITE,32.7700,Private,2186-10-01 23:15:00,2186-10-11 18:00:00,NaT,2186-10-01 23:16:40,2186-10-06 14:16:54,4.6252,EMERGENCY,TSICU,0,0,0,1,111
44,181750,291554,M,UNKNOWN/NOT SPECIFIED,80.1845,Medicare,2192-11-19 18:14:00,2192-11-27 14:35:00,NaT,2192-11-20 10:42:55,2192-11-24 14:18:50,4.1499,EMERGENCY,CSRU,0,0,0,1,99
45,157907,274249,M,WHITE,42.4048,Private,2129-06-10 00:32:00,2129-06-20 14:39:00,NaT,2129-06-10 00:33:00,2129-06-11 16:34:00,1.6674,EMERGENCY,TSICU,0,0,0,1,40
46,144073,268016,M,WHITE,73.9996,Medicare,2133-02-20 18:21:00,2133-02-24 14:42:00,NaT,2133-02-20 18:22:30,2133-02-21 12:49:55,0.7690,EMERGENCY,MICU,0,0,0,1,18
49,190539,249195,M,WHITE,80.9170,Medicare,2186-11-21 07:15:00,2186-11-28 14:05:00,NaT,2186-11-21 10:33:36,2186-11-22 12:13:33,1.0694,ELECTIVE,CSRU,0,0,0,1,25
52,190797,261857,M,WHITE,38.1229,Private,2191-01-10 02:12:00,2191-01-19 16:10:00,NaT,2191-01-10 02:12:55,2191-01-11 22:37:31,1.8504,EMERGENCY,MICU,0,0,0,1,44
53,155385,239839,M,UNKNOWN/NOT SPECIFIED,45.5529,Private,2170-03-20 20:20:00,2170-03-23 18:00:00,NaT,2170-03-20 20:21:12,2170-03-22 11:44:34,1.6412,EMERGENCY,CCU,0,0,0,1,39
55,190665,262723,F,WHITE,64.1623,Medicare,2136-04-03 18:35:00,2136-04-05 14:30:00,NaT,2136-04-03 18:35:36,2136-04-05 16:31:29,1.9138,EMERGENCY,CCU,0,0,0,1,45
56,181711,275642,F,WHITE,300.0013,Medicare,2104-01-02 02:01:00,2104-01-08 10:30:00,2104-01-08 10:30:00,2104-01-02 02:02:39,2104-01-03 22:25:29,1.8492,EMERGENCY,SICU,0,1,1,1,44
59,104130,224440,F,WHITE,87.0949,Medicare,2197-11-14 17:07:00,2197-11-19 16:42:00,NaT,2197-11-14 17:07:48,2197-11-16 21:58:12,2.2017,EMERGENCY,MICU,0,0,0,1,52
61,176332,252348,M,WHITE,54.6558,Private,2118-06-17 14:40:00,2118-07-20 12:30:00,NaT,2118-07-11 23:55:57,2118-07-14 13:21:01,2.5591,ELECTIVE,MICU,0,0,0,1,61

In [9]:
# Abnormal behavior: Some patients have admittime > dischtime

patients.loc[patients['admittime'] > patients['dischtime']]

#delete patients with abnormal behavior above

list_abnormal_admit_disch_gap = list(patients.loc[patients['admittime'] > patients['dischtime']].index.get_level_values('subject_id'))

patients = patients.drop(list_abnormal_admit_disch_gap)

#delete vitals lab of patients with abnormal behavior above
vitals_data = vitals_data.drop(list_abnormal_admit_disch_gap)

# check again in two table patients and vitals_data
print(patients.loc[patients['admittime'] > patients['dischtime']])
print(vitals_data.loc[list_abnormal_admit_disch_gap, :])

Empty DataFrame
Columns: [gender, ethnicity, age, insurance, admittime, dischtime, deathtime, intime, outtime, los_icu, admission_type, first_careunit, mort_icu, mort_hosp, hospital_expire_flag, hospstay_seq, max_hours]
Index: []
Empty DataFrame
Columns: [(alanine aminotransferase, count), (alanine aminotransferase, mean), (alanine aminotransferase, std), (albumin, count), (albumin, mean), (albumin, std), (albumin ascites, count), (albumin ascites, mean), (albumin ascites, std), (albumin pleural, count), (albumin pleural, mean), (albumin pleural, std), (albumin urine, count), (albumin urine, mean), (albumin urine, std), (alkaline phosphate, count), (alkaline phosphate, mean), (alkaline phosphate, std), (anion gap, count), (anion gap, mean), (anion gap, std), (asparate aminotransferase, count), (asparate aminotransferase, mean), (asparate aminotransferase, std), (basophils, count), (basophils, mean), (basophils, std), (bicarbonate, count), (bicarbonate, mean), (bicarbonate, std), (bilirubin, count), (bilirubin, mean), (bilirubin, std), (blood urea nitrogen, count), (blood urea nitrogen, mean), (blood urea nitrogen, std), (co2, count), (co2, mean), (co2, std), (co2 (etco2, pco2, etc.), count), (co2 (etco2, pco2, etc.), mean), (co2 (etco2, pco2, etc.), std), (calcium, count), (calcium, mean), (calcium, std), (calcium ionized, count), (calcium ionized, mean), (calcium ionized, std), (calcium urine, count), (calcium urine, mean), (calcium urine, std), (cardiac index, count), (cardiac index, mean), (cardiac index, std), (cardiac output thermodilution, count), (cardiac output thermodilution, mean), (cardiac output thermodilution, std), (cardiac output fick, count), (cardiac output fick, mean), (cardiac output fick, std), (central venous pressure, count), (central venous pressure, mean), (central venous pressure, std), (chloride, count), (chloride, mean), (chloride, std), (chloride urine, count), (chloride urine, mean), (chloride urine, std), (cholesterol, count), (cholesterol, mean), (cholesterol, std), (cholesterol hdl, count), (cholesterol hdl, mean), (cholesterol hdl, std), (cholesterol ldl, count), (cholesterol ldl, mean), (cholesterol ldl, std), (creatinine, count), (creatinine, mean), (creatinine, std), (creatinine ascites, count), (creatinine ascites, mean), (creatinine ascites, std), (creatinine body fluid, count), (creatinine body fluid, mean), (creatinine body fluid, std), (creatinine pleural, count), (creatinine pleural, mean), (creatinine pleural, std), (creatinine urine, count), (creatinine urine, mean), (creatinine urine, std), (diastolic blood pressure, count), (diastolic blood pressure, mean), (diastolic blood pressure, std), (eosinophils, count), (eosinophils, mean), (eosinophils, std), (fibrinogen, count), ...]
Index: []

[0 rows x 312 columns]

In [10]:
patients.head(10)

,,,gender,ethnicity,age,insurance,admittime,dischtime,deathtime,intime,outtime,los_icu,admission_type,first_careunit,mort_icu,mort_hosp,hospital_expire_flag,hospstay_seq,max_hours
subject_id,hadm_id,icustay_id,,,,,,,,,,,,,,,,,
3,145834,211552,M,WHITE,76.5268,Medicare,2101-10-20 19:08:00,2101-10-31 13:58:00,NaT,2101-10-20 19:10:11,2101-10-26 20:43:09,6.0646,EMERGENCY,MICU,0,0,0,1,145
4,185777,294638,F,WHITE,47.8450,Private,2191-03-16 00:28:00,2191-03-23 18:41:00,NaT,2191-03-16 00:29:31,2191-03-17 16:46:31,1.6785,EMERGENCY,MICU,0,0,0,1,40
6,107064,228232,F,WHITE,65.9407,Medicare,2175-05-30 07:15:00,2175-06-15 16:00:00,NaT,2175-05-30 21:30:54,2175-06-03 13:39:54,3.6729,ELECTIVE,SICU,0,0,0,1,88
9,150750,220597,M,UNKNOWN/NOT SPECIFIED,41.7902,Medicaid,2149-11-09 13:06:00,2149-11-14 10:15:00,2149-11-14 10:15:00,2149-11-09 13:07:02,2149-11-14 20:52:14,5.3231,EMERGENCY,MICU,1,1,1,1,127
11,194540,229441,F,WHITE,50.1483,Private,2178-04-16 06:18:00,2178-05-11 19:00:00,NaT,2178-04-16 06:19:32,2178-04-17 20:21:05,1.5844,EMERGENCY,SICU,0,0,0,1,38
12,112213,232669,M,WHITE,72.3724,Medicare,2104-08-07 10:15:00,2104-08-20 02:57:00,2104-08-20 02:57:00,2104-08-08 02:08:17,2104-08-15 17:22:25,7.6348,ELECTIVE,SICU,0,1,1,1,183
13,143045,263738,F,WHITE,39.8661,Medicaid,2167-01-08 18:43:00,2167-01-15 15:15:00,NaT,2167-01-08 18:44:25,2167-01-12 10:43:31,3.6660,EMERGENCY,CCU,0,0,0,1,87
17,194023,277042,F,WHITE,47.4543,Private,2134-12-27 07:15:00,2134-12-31 16:05:00,NaT,2134-12-27 16:21:48,2134-12-29 18:04:03,2.0710,ELECTIVE,CSRU,0,0,0,1,49
18,188822,298129,M,WHITE,50.8416,Private,2167-10-02 11:18:00,2167-10-04 16:15:00,NaT,2167-10-02 11:20:39,2167-10-03 18:16:05,1.2885,EMERGENCY,CCU,0,0,0,1,30
19,109235,273430,M,WHITE,300.0030,Medicare,2108-08-05 16:25:00,2108-08-11 11:29:00,NaT,2108-08-05 16:26:09,2108-08-06 23:40:35,1.3017,EMERGENCY,TSICU,0,0,0,1,31

In [11]:
# add column total hospital LOS (dischtime -admittime)

total_los_series = pd.Series(list(map(lambda x: round(x.total_seconds()/(24*60*60),4),(patients.iloc[:,patients.columns.get_loc('dischtime')] - patients.iloc[:,patients.columns.get_loc('admittime')]))))
patients['total_los'] = total_los_series.values

In [12]:
# No nan value in total_los column
sum(pd.isna(patients['total_los']))

0

In [13]:
patients.head(36)

,,,gender,ethnicity,age,insurance,admittime,dischtime,deathtime,intime,outtime,los_icu,admission_type,first_careunit,mort_icu,mort_hosp,hospital_expire_flag,hospstay_seq,max_hours,total_los
subject_id,hadm_id,icustay_id,,,,,,,,,,,,,,,,,,
3,145834,211552,M,WHITE,76.5268,Medicare,2101-10-20 19:08:00,2101-10-31 13:58:00,NaT,2101-10-20 19:10:11,2101-10-26 20:43:09,6.0646,EMERGENCY,MICU,0,0,0,1,145,10.7847
4,185777,294638,F,WHITE,47.8450,Private,2191-03-16 00:28:00,2191-03-23 18:41:00,NaT,2191-03-16 00:29:31,2191-03-17 16:46:31,1.6785,EMERGENCY,MICU,0,0,0,1,40,7.7590
6,107064,228232,F,WHITE,65.9407,Medicare,2175-05-30 07:15:00,2175-06-15 16:00:00,NaT,2175-05-30 21:30:54,2175-06-03 13:39:54,3.6729,ELECTIVE,SICU,0,0,0,1,88,16.3646
9,150750,220597,M,UNKNOWN/NOT SPECIFIED,41.7902,Medicaid,2149-11-09 13:06:00,2149-11-14 10:15:00,2149-11-14 10:15:00,2149-11-09 13:07:02,2149-11-14 20:52:14,5.3231,EMERGENCY,MICU,1,1,1,1,127,4.8812
11,194540,229441,F,WHITE,50.1483,Private,2178-04-16 06:18:00,2178-05-11 19:00:00,NaT,2178-04-16 06:19:32,2178-04-17 20:21:05,1.5844,EMERGENCY,SICU,0,0,0,1,38,25.5292
12,112213,232669,M,WHITE,72.3724,Medicare,2104-08-07 10:15:00,2104-08-20 02:57:00,2104-08-20 02:57:00,2104-08-08 02:08:17,2104-08-15 17:22:25,7.6348,ELECTIVE,SICU,0,1,1,1,183,12.6958
13,143045,263738,F,WHITE,39.8661,Medicaid,2167-01-08 18:43:00,2167-01-15 15:15:00,NaT,2167-01-08 18:44:25,2167-01-12 10:43:31,3.6660,EMERGENCY,CCU,0,0,0,1,87,6.8556
17,194023,277042,F,WHITE,47.4543,Private,2134-12-27 07:15:00,2134-12-31 16:05:00,NaT,2134-12-27 16:21:48,2134-12-29 18:04:03,2.0710,ELECTIVE,CSRU,0,0,0,1,49,4.3681
18,188822,298129,M,WHITE,50.8416,Private,2167-10-02 11:18:00,2167-10-04 16:15:00,NaT,2167-10-02 11:20:39,2167-10-03 18:16:05,1.2885,EMERGENCY,CCU,0,0,0,1,30,2.2062
19,109235,273430,M,WHITE,300.0030,Medicare,2108-08-05 16:25:00,2108-08-11 11:29:00,NaT,2108-08-05 16:26:09,2108-08-06 23:40:35,1.3017,EMERGENCY,TSICU,0,0,0,1,31,5.7944
20,157681,264490,F,WHITE,75.8768,Medicare,2183-04-28 09:45:00,2183-05-03 14:45:00,NaT,2183-04-28 15:00:36,2183-04-29 16:13:48,1.0508,ELECTIVE,CSRU,0,0,0,1,25,5.2083
21,109451,217847,M,WHITE,87.4393,Medicare,2134-09-11 12:17:00,2134-09-24 16:15:00,NaT,2134-09-11 20:50:04,2134-09-17 18:28:32,5.9017,EMERGENCY,CCU,0,0,0,1,141,13.1653
22,165315,204798,F,WHITE,64.9282,Private,2196-04-09 12:26:00,2196-04-10 15:54:00,NaT,2196-04-09 12:27:00,2196-04-10 15:54:00,1.1438,EMERGENCY,MICU,0,0,0,1,27,1.1444
23,152223,227807,M,WHITE,71.1317,Medicare,2153-09-03 07:15:00,2153-09-08 19:10:00,NaT,2153-09-03 09:38:55,2153-09-04 15:59:11,1.2641,ELECTIVE,CSRU,0,0,0,1,30,5.4965
24,161859,262236,M,WHITE,39.0171,Private,2139-06-06 16:14:00,2139-06-09 12:48:00,NaT,2139-06-06 16:15:36,2139-06-07 04:33:25,0.5124,EMERGENCY,CCU,0,0,0,1,12,2.8569
25,129635,203487,M,WHITE,58.9502,Private,2160-11-02 02:06:00,2160-11-05 14:55:00,NaT,2160-11-02 03:16:23,2160-11-05 16:23:27,3.5466,EMERGENCY,CCU,0,0,0,1,85,3.5340
26,197661,244882,M,UNKNOWN/NOT SPECIFIED,72.0061,Medicare,2126-05-06 15:16:00,2126-05-13 15:00:00,NaT,2126-05-07 09:52:30,2126-05-09 13:15:05,2.1407,EMERGENCY,CCU,0,0,0,1,51,6.9889
28,162569,225559,M,WHITE,74.3844,Medicare,2177-09-01 07:15:00,2177-09-06 16:00:00,NaT,2177-09-01 09:32:26,2177-09-02 12:28:42,1.1224,ELECTIVE,CSRU,0,0,0,1,26,5.3646
30,104557,225176,M,UNKNOWN/NOT SPECIFIED,300.0027,Medicare,2172-10-14 14:17:00,2172-10-19 14:37:00,NaT,2172-10-14 17:24:00,2172-10-16 13:44:00,1.8472,URGENT,CCU,0,0,0,1,44,5.0139
31,128652,254478,M,WHITE,72.2671,Medicare,2108-08-22 23:27:00,2108-08-30 15:00:00,2108-08-30 15:00:00,2108-08-22 23:28:42,2108-08-30 21:59:20,7.9379,EMERGENCY,MICU,1,1,1,1,190,7.6479
32,175413,295037,M,WHITE,45.5132,Medicaid,2170-04-04 08:00:00,2170-04-23 12:45:00,NaT,2170-04-04 18:46:00,2170-04-12 11:13:00,7.6854,ELECTIVE,TSICU,0,0,0,1,184,19.1979
33,176176,296681,M,UNKNOWN/NOT SPECIFIED,82.3945,Medicare,2116-12-23 22:30:00,2116-12-27 12:05:00,NaT,2116-12-23 22:31:53,2116-12-25 11:49:55,1.5542,EMERGENCY,MICU,0,0,0,1,37,3.5660
34,115799,263086,M,WHITE,300.0030,Medicare,2186-07-18 16:46:00,2186-07-20 16:00:00,NaT,2186-07-18 18:10:49,2186-07-19 11:27:20,0.7198,EMERGENCY,MICU,0,0,0,1,17,1.9681
35,166707,282039,F,WHITE,69.4429,Medicare,2122-02-10 09:39:59,2122-02-20 15:30:00,NaT,2122-02-10 09:39:59,2122-02-15 18:41:01,5.3757,ELECTIVE,CSRU,0,0,0,1,129,10.2431
36,182104,280987,M,WHITE,69.6998,Medicare,2131-04-30 07:15:00,2131-05-08 14:00:00,NaT,2131-05-04 10:29:14,2131-05-05 13:07:03,1.1096,EMERGENCY,CSRU,0,0,0,1,26,8.2812
37,188670,213503,M,WHITE,68.9288,Medicare,2183-08-21 16:48:00,2183-08-26 18:54:00,NaT,2183-08-23 12:01:45,2183-08-24 15:22:53,1.1397,EMERGENCY,MICU,0,0,0,1,27,5.0875
38,185910,248910,M,WHITE,75.9415,Medicare,2166-08-10 00:28:00,2166-09-04 11:30:00,NaT,2166-08-10 00:29:36,2166-09-04 13:39:23,25.5485,EMERGENCY,CCU,0,0,0,1,613,25.4597
41,101757,261027,M,WHITE,56.6349,Private,2132-12-31 10:30:00,2133-01-27 15:45:00,NaT,2133-01-03 06:34:40,2133-01-06 16:01:33,3.3937,ELECTIVE,SICU,0,0,0,1,81,27.2188
42,119203,210828,M,UNKNOWN/NOT SPECIFIED,61.1671,Private,2116-04-26 18:58:00,2116-04-30 18:16:00,NaT,2116-04-26 18:59:35,2116-04-28 16:39:05,1.9024,EMERGENCY,CCU,0,0,0,1,45,3.9708
43,146828,225852,M,WHITE,32.7700,Private,2186-10-01 23:15:00,2186-10-11 18:00:00,NaT,2186-10-01 23:16:40,2186-10-06 14:16:54,4.6252,EMERGENCY,TSICU,0,0,0,1,111,9.7812
44,181750,291554,M,UNKNOWN/NOT SPECIFIED,80.1845,Medicare,2192-11-19 18:14:00,2192-11-27 14:35:00,NaT,2192-11-20 10:42:55,2192-11-24 14:18:50,4.1499,EMERGENCY,CSRU,0,0,0,1,99,7.8479
45,157907,274249,M,WHITE,42.4048,Private,2129-06-10 00:32:00,2129-06-20 14:39:00,NaT,2129-06-10 00:33:00,2129-06-11 16:34:00,1.6674,EMERGENCY,TSICU,0,0,0,1,40,10.5882
46,144073,268016,M,WHITE,73.9996,Medicare,2133-02-20 18:21:00,2133-02-24 14:42:00,NaT,2133-02-20 18:22:30,2133-02-21 12:49:55,0.7690,EMERGENCY,MICU,0,0,0,1,18,3.8479
49,190539,249195,M,WHITE,80.9170,Medicare,2186-11-21 07:15:00,2186-11-28 14:05:00,NaT,2186-11-21 10:33:36,2186-11-22 12:13:33,1.0694,ELECTIVE,CSRU,0,0,0,1,25,7.2847
52,190797,261857,M,WHITE,38.1229,Private,2191-01-10 02:12:00,2191-01-19 16:10:00,NaT,2191-01-10 02:12:55,2191-01-11 22:37:31,1.8504,EMERGENCY,MICU,0,0,0,1,44,9.5819
53,155385,239839,M,UNKNOWN/NOT SPECIFIED,45.5529,Private,2170-03-20 20:20:00,2170-03-23 18:00:00,NaT,2170-03-20 20:21:12,2170-03-22 11:44:34,1.6412,EMERGENCY,CCU,0,0,0,1,39,2.9028

In [14]:
# Many patients hav Unknown admitime (nat), leading to nan total_los. We can not check NaT, so we use nan in total_los
# column to delete these patients

# list_NaT_admitime = patients.loc[(pd.isna(list(patients.total_los)))].index.get_level_values('subject_id')
# patients = patients.drop(list_NaT_admitime)
# vitals_data = vitals_data.drop(list_NaT_admitime)

In [15]:
patients.head(25)

,,,gender,ethnicity,age,insurance,admittime,dischtime,deathtime,intime,outtime,los_icu,admission_type,first_careunit,mort_icu,mort_hosp,hospital_expire_flag,hospstay_seq,max_hours,total_los
subject_id,hadm_id,icustay_id,,,,,,,,,,,,,,,,,,
3,145834,211552,M,WHITE,76.5268,Medicare,2101-10-20 19:08:00,2101-10-31 13:58:00,NaT,2101-10-20 19:10:11,2101-10-26 20:43:09,6.0646,EMERGENCY,MICU,0,0,0,1,145,10.7847
4,185777,294638,F,WHITE,47.8450,Private,2191-03-16 00:28:00,2191-03-23 18:41:00,NaT,2191-03-16 00:29:31,2191-03-17 16:46:31,1.6785,EMERGENCY,MICU,0,0,0,1,40,7.7590
6,107064,228232,F,WHITE,65.9407,Medicare,2175-05-30 07:15:00,2175-06-15 16:00:00,NaT,2175-05-30 21:30:54,2175-06-03 13:39:54,3.6729,ELECTIVE,SICU,0,0,0,1,88,16.3646
9,150750,220597,M,UNKNOWN/NOT SPECIFIED,41.7902,Medicaid,2149-11-09 13:06:00,2149-11-14 10:15:00,2149-11-14 10:15:00,2149-11-09 13:07:02,2149-11-14 20:52:14,5.3231,EMERGENCY,MICU,1,1,1,1,127,4.8812
11,194540,229441,F,WHITE,50.1483,Private,2178-04-16 06:18:00,2178-05-11 19:00:00,NaT,2178-04-16 06:19:32,2178-04-17 20:21:05,1.5844,EMERGENCY,SICU,0,0,0,1,38,25.5292
12,112213,232669,M,WHITE,72.3724,Medicare,2104-08-07 10:15:00,2104-08-20 02:57:00,2104-08-20 02:57:00,2104-08-08 02:08:17,2104-08-15 17:22:25,7.6348,ELECTIVE,SICU,0,1,1,1,183,12.6958
13,143045,263738,F,WHITE,39.8661,Medicaid,2167-01-08 18:43:00,2167-01-15 15:15:00,NaT,2167-01-08 18:44:25,2167-01-12 10:43:31,3.6660,EMERGENCY,CCU,0,0,0,1,87,6.8556
17,194023,277042,F,WHITE,47.4543,Private,2134-12-27 07:15:00,2134-12-31 16:05:00,NaT,2134-12-27 16:21:48,2134-12-29 18:04:03,2.0710,ELECTIVE,CSRU,0,0,0,1,49,4.3681
18,188822,298129,M,WHITE,50.8416,Private,2167-10-02 11:18:00,2167-10-04 16:15:00,NaT,2167-10-02 11:20:39,2167-10-03 18:16:05,1.2885,EMERGENCY,CCU,0,0,0,1,30,2.2062
19,109235,273430,M,WHITE,300.0030,Medicare,2108-08-05 16:25:00,2108-08-11 11:29:00,NaT,2108-08-05 16:26:09,2108-08-06 23:40:35,1.3017,EMERGENCY,TSICU,0,0,0,1,31,5.7944
20,157681,264490,F,WHITE,75.8768,Medicare,2183-04-28 09:45:00,2183-05-03 14:45:00,NaT,2183-04-28 15:00:36,2183-04-29 16:13:48,1.0508,ELECTIVE,CSRU,0,0,0,1,25,5.2083
21,109451,217847,M,WHITE,87.4393,Medicare,2134-09-11 12:17:00,2134-09-24 16:15:00,NaT,2134-09-11 20:50:04,2134-09-17 18:28:32,5.9017,EMERGENCY,CCU,0,0,0,1,141,13.1653
22,165315,204798,F,WHITE,64.9282,Private,2196-04-09 12:26:00,2196-04-10 15:54:00,NaT,2196-04-09 12:27:00,2196-04-10 15:54:00,1.1438,EMERGENCY,MICU,0,0,0,1,27,1.1444
23,152223,227807,M,WHITE,71.1317,Medicare,2153-09-03 07:15:00,2153-09-08 19:10:00,NaT,2153-09-03 09:38:55,2153-09-04 15:59:11,1.2641,ELECTIVE,CSRU,0,0,0,1,30,5.4965
24,161859,262236,M,WHITE,39.0171,Private,2139-06-06 16:14:00,2139-06-09 12:48:00,NaT,2139-06-06 16:15:36,2139-06-07 04:33:25,0.5124,EMERGENCY,CCU,0,0,0,1,12,2.8569
25,129635,203487,M,WHITE,58.9502,Private,2160-11-02 02:06:00,2160-11-05 14:55:00,NaT,2160-11-02 03:16:23,2160-11-05 16:23:27,3.5466,EMERGENCY,CCU,0,0,0,1,85,3.5340
26,197661,244882,M,UNKNOWN/NOT SPECIFIED,72.0061,Medicare,2126-05-06 15:16:00,2126-05-13 15:00:00,NaT,2126-05-07 09:52:30,2126-05-09 13:15:05,2.1407,EMERGENCY,CCU,0,0,0,1,51,6.9889
28,162569,225559,M,WHITE,74.3844,Medicare,2177-09-01 07:15:00,2177-09-06 16:00:00,NaT,2177-09-01 09:32:26,2177-09-02 12:28:42,1.1224,ELECTIVE,CSRU,0,0,0,1,26,5.3646
30,104557,225176,M,UNKNOWN/NOT SPECIFIED,300.0027,Medicare,2172-10-14 14:17:00,2172-10-19 14:37:00,NaT,2172-10-14 17:24:00,2172-10-16 13:44:00,1.8472,URGENT,CCU,0,0,0,1,44,5.0139
31,128652,254478,M,WHITE,72.2671,Medicare,2108-08-22 23:27:00,2108-08-30 15:00:00,2108-08-30 15:00:00,2108-08-22 23:28:42,2108-08-30 21:59:20,7.9379,EMERGENCY,MICU,1,1,1,1,190,7.6479
32,175413,295037,M,WHITE,45.5132,Medicaid,2170-04-04 08:00:00,2170-04-23 12:45:00,NaT,2170-04-04 18:46:00,2170-04-12 11:13:00,7.6854,ELECTIVE,TSICU,0,0,0,1,184,19.1979
33,176176,296681,M,UNKNOWN/NOT SPECIFIED,82.3945,Medicare,2116-12-23 22:30:00,2116-12-27 12:05:00,NaT,2116-12-23 22:31:53,2116-12-25 11:49:55,1.5542,EMERGENCY,MICU,0,0,0,1,37,3.5660
34,115799,263086,M,WHITE,300.0030,Medicare,2186-07-18 16:46:00,2186-07-20 16:00:00,NaT,2186-07-18 18:10:49,2186-07-19 11:27:20,0.7198,EMERGENCY,MICU,0,0,0,1,17,1.9681
35,166707,282039,F,WHITE,69.4429,Medicare,2122-02-10 09:39:59,2122-02-20 15:30:00,NaT,2122-02-10 09:39:59,2122-02-15 18:41:01,5.3757,ELECTIVE,CSRU,0,0,0,1,129,10.2431
36,182104,280987,M,WHITE,69.6998,Medicare,2131-04-30 07:15:00,2131-05-08 14:00:00,NaT,2131-05-04 10:29:14,2131-05-05 13:07:03,1.1096,EMERGENCY,CSRU,0,0,0,1,26,8.2812

In [16]:
sum(pd.isna(patients['los_icu']))

0

In [17]:
# abnormal behavior: many hospital LOS < ICU LOS

gap_los_icu_hospital = list(patients['total_los'] - patients['los_icu'])


# print("Number patients with total hospital LOS < icu los: ", sum(np.array(gap_los_icu_hospital)<0))
print(len(sorted([a for a in gap_los_icu_hospital if a<=-0.5])))

373

In [18]:
print(patients.shape)
print(vitals_data.shape)

(38541, 18)
(3768237, 312)

In [19]:
#delete patients with total LOS < patients LOS ( to keep as much data as possible, we delete with below condition)

list_los_total_smaller_icu = patients.loc[(patients['total_los'] - patients['los_icu']) <= -0.5].index.get_level_values('subject_id')

patients = patients.drop(list_los_total_smaller_icu)
vitals_data = vitals_data.drop(list_los_total_smaller_icu)

print(patients.shape)
print(vitals_data.shape)

(38168, 18)
(3708663, 312)

In [20]:
patients.head(30)

,,,gender,ethnicity,age,insurance,admittime,dischtime,deathtime,intime,outtime,los_icu,admission_type,first_careunit,mort_icu,mort_hosp,hospital_expire_flag,hospstay_seq,max_hours,total_los
subject_id,hadm_id,icustay_id,,,,,,,,,,,,,,,,,,
3,145834,211552,M,WHITE,76.5268,Medicare,2101-10-20 19:08:00,2101-10-31 13:58:00,NaT,2101-10-20 19:10:11,2101-10-26 20:43:09,6.0646,EMERGENCY,MICU,0,0,0,1,145,10.7847
4,185777,294638,F,WHITE,47.8450,Private,2191-03-16 00:28:00,2191-03-23 18:41:00,NaT,2191-03-16 00:29:31,2191-03-17 16:46:31,1.6785,EMERGENCY,MICU,0,0,0,1,40,7.7590
6,107064,228232,F,WHITE,65.9407,Medicare,2175-05-30 07:15:00,2175-06-15 16:00:00,NaT,2175-05-30 21:30:54,2175-06-03 13:39:54,3.6729,ELECTIVE,SICU,0,0,0,1,88,16.3646
9,150750,220597,M,UNKNOWN/NOT SPECIFIED,41.7902,Medicaid,2149-11-09 13:06:00,2149-11-14 10:15:00,2149-11-14 10:15:00,2149-11-09 13:07:02,2149-11-14 20:52:14,5.3231,EMERGENCY,MICU,1,1,1,1,127,4.8812
11,194540,229441,F,WHITE,50.1483,Private,2178-04-16 06:18:00,2178-05-11 19:00:00,NaT,2178-04-16 06:19:32,2178-04-17 20:21:05,1.5844,EMERGENCY,SICU,0,0,0,1,38,25.5292
12,112213,232669,M,WHITE,72.3724,Medicare,2104-08-07 10:15:00,2104-08-20 02:57:00,2104-08-20 02:57:00,2104-08-08 02:08:17,2104-08-15 17:22:25,7.6348,ELECTIVE,SICU,0,1,1,1,183,12.6958
13,143045,263738,F,WHITE,39.8661,Medicaid,2167-01-08 18:43:00,2167-01-15 15:15:00,NaT,2167-01-08 18:44:25,2167-01-12 10:43:31,3.6660,EMERGENCY,CCU,0,0,0,1,87,6.8556
17,194023,277042,F,WHITE,47.4543,Private,2134-12-27 07:15:00,2134-12-31 16:05:00,NaT,2134-12-27 16:21:48,2134-12-29 18:04:03,2.0710,ELECTIVE,CSRU,0,0,0,1,49,4.3681
18,188822,298129,M,WHITE,50.8416,Private,2167-10-02 11:18:00,2167-10-04 16:15:00,NaT,2167-10-02 11:20:39,2167-10-03 18:16:05,1.2885,EMERGENCY,CCU,0,0,0,1,30,2.2062
19,109235,273430,M,WHITE,300.0030,Medicare,2108-08-05 16:25:00,2108-08-11 11:29:00,NaT,2108-08-05 16:26:09,2108-08-06 23:40:35,1.3017,EMERGENCY,TSICU,0,0,0,1,31,5.7944
20,157681,264490,F,WHITE,75.8768,Medicare,2183-04-28 09:45:00,2183-05-03 14:45:00,NaT,2183-04-28 15:00:36,2183-04-29 16:13:48,1.0508,ELECTIVE,CSRU,0,0,0,1,25,5.2083
21,109451,217847,M,WHITE,87.4393,Medicare,2134-09-11 12:17:00,2134-09-24 16:15:00,NaT,2134-09-11 20:50:04,2134-09-17 18:28:32,5.9017,EMERGENCY,CCU,0,0,0,1,141,13.1653
22,165315,204798,F,WHITE,64.9282,Private,2196-04-09 12:26:00,2196-04-10 15:54:00,NaT,2196-04-09 12:27:00,2196-04-10 15:54:00,1.1438,EMERGENCY,MICU,0,0,0,1,27,1.1444
23,152223,227807,M,WHITE,71.1317,Medicare,2153-09-03 07:15:00,2153-09-08 19:10:00,NaT,2153-09-03 09:38:55,2153-09-04 15:59:11,1.2641,ELECTIVE,CSRU,0,0,0,1,30,5.4965
24,161859,262236,M,WHITE,39.0171,Private,2139-06-06 16:14:00,2139-06-09 12:48:00,NaT,2139-06-06 16:15:36,2139-06-07 04:33:25,0.5124,EMERGENCY,CCU,0,0,0,1,12,2.8569
25,129635,203487,M,WHITE,58.9502,Private,2160-11-02 02:06:00,2160-11-05 14:55:00,NaT,2160-11-02 03:16:23,2160-11-05 16:23:27,3.5466,EMERGENCY,CCU,0,0,0,1,85,3.5340
26,197661,244882,M,UNKNOWN/NOT SPECIFIED,72.0061,Medicare,2126-05-06 15:16:00,2126-05-13 15:00:00,NaT,2126-05-07 09:52:30,2126-05-09 13:15:05,2.1407,EMERGENCY,CCU,0,0,0,1,51,6.9889
28,162569,225559,M,WHITE,74.3844,Medicare,2177-09-01 07:15:00,2177-09-06 16:00:00,NaT,2177-09-01 09:32:26,2177-09-02 12:28:42,1.1224,ELECTIVE,CSRU,0,0,0,1,26,5.3646
30,104557,225176,M,UNKNOWN/NOT SPECIFIED,300.0027,Medicare,2172-10-14 14:17:00,2172-10-19 14:37:00,NaT,2172-10-14 17:24:00,2172-10-16 13:44:00,1.8472,URGENT,CCU,0,0,0,1,44,5.0139
31,128652,254478,M,WHITE,72.2671,Medicare,2108-08-22 23:27:00,2108-08-30 15:00:00,2108-08-30 15:00:00,2108-08-22 23:28:42,2108-08-30 21:59:20,7.9379,EMERGENCY,MICU,1,1,1,1,190,7.6479
32,175413,295037,M,WHITE,45.5132,Medicaid,2170-04-04 08:00:00,2170-04-23 12:45:00,NaT,2170-04-04 18:46:00,2170-04-12 11:13:00,7.6854,ELECTIVE,TSICU,0,0,0,1,184,19.1979
33,176176,296681,M,UNKNOWN/NOT SPECIFIED,82.3945,Medicare,2116-12-23 22:30:00,2116-12-27 12:05:00,NaT,2116-12-23 22:31:53,2116-12-25 11:49:55,1.5542,EMERGENCY,MICU,0,0,0,1,37,3.5660
34,115799,263086,M,WHITE,300.0030,Medicare,2186-07-18 16:46:00,2186-07-20 16:00:00,NaT,2186-07-18 18:10:49,2186-07-19 11:27:20,0.7198,EMERGENCY,MICU,0,0,0,1,17,1.9681
35,166707,282039,F,WHITE,69.4429,Medicare,2122-02-10 09:39:59,2122-02-20 15:30:00,NaT,2122-02-10 09:39:59,2122-02-15 18:41:01,5.3757,ELECTIVE,CSRU,0,0,0,1,129,10.2431
36,182104,280987,M,WHITE,69.6998,Medicare,2131-04-30 07:15:00,2131-05-08 14:00:00,NaT,2131-05-04 10:29:14,2131-05-05 13:07:03,1.1096,EMERGENCY,CSRU,0,0,0,1,26,8.2812
37,188670,213503,M,WHITE,68.9288,Medicare,2183-08-21 16:48:00,2183-08-26 18:54:00,NaT,2183-08-23 12:01:45,2183-08-24 15:22:53,1.1397,EMERGENCY,MICU,0,0,0,1,27,5.0875
38,185910,248910,M,WHITE,75.9415,Medicare,2166-08-10 00:28:00,2166-09-04 11:30:00,NaT,2166-08-10 00:29:36,2166-09-04 13:39:23,25.5485,EMERGENCY,CCU,0,0,0,1,613,25.4597
41,101757,261027,M,WHITE,56.6349,Private,2132-12-31 10:30:00,2133-01-27 15:45:00,NaT,2133-01-03 06:34:40,2133-01-06 16:01:33,3.3937,ELECTIVE,SICU,0,0,0,1,81,27.2188
42,119203,210828,M,UNKNOWN/NOT SPECIFIED,61.1671,Private,2116-04-26 18:58:00,2116-04-30 18:16:00,NaT,2116-04-26 18:59:35,2116-04-28 16:39:05,1.9024,EMERGENCY,CCU,0,0,0,1,45,3.9708
43,146828,225852,M,WHITE,32.7700,Private,2186-10-01 23:15:00,2186-10-11 18:00:00,NaT,2186-10-01 23:16:40,2186-10-06 14:16:54,4.6252,EMERGENCY,TSICU,0,0,0,1,111,9.7812

In [21]:
# if los_icu > total_los => total_los := los icu

abnormal_icu_total_gap_index = functools.reduce(lambda x, y: x + [y] if patients.iloc[y,patients.columns.get_loc('total_los')] < patients.iloc[y,patients.columns.get_loc('los_icu')] else x +[], [i for i in range(0,patients.shape[0])] ,[])

abnormal_icu_total_gap_index


for index in abnormal_icu_total_gap_index:
    patients.iloc[index,patients.columns.get_loc('total_los')] = patients.iloc[index,patients.columns.get_loc('los_icu')]


patients.loc[patients['total_los'] < patients['los_icu']]

Empty DataFrame
Columns: [gender, ethnicity, age, insurance, admittime, dischtime, deathtime, intime, outtime, los_icu, admission_type, first_careunit, mort_icu, mort_hosp, hospital_expire_flag, hospstay_seq, max_hours, total_los]
Index: []

In [22]:
patients.shape

(38168, 18)

In [23]:
# Filtering patients (subject_id) in vitals_data table based on patient in patients table 
# Get index in patients table
icustay_id_index = set(patients.index.get_level_values('icustay_id'))

#filtering vitals lab
vitals_data_filtered = vitals_data[vitals_data.index.get_level_values('icustay_id').isin(icustay_id_index)]

In [24]:
print(patients.shape)
print(vitals_data_filtered.shape)

(38168, 18)
(3708663, 312)

In [25]:
# Filtering vitals lab collected in the first 24h after first ICU admission and patients with icu_los at least window_time
# + gaptime (gap_time should be 1 to keep data)
# Gap time to avoid data leakage and make predicting model really useful in practice
# Also, Fil

WINDOW_SIZE = 24  
GAP_TIME = 1

Ys = patients[patients.max_hours > WINDOW_SIZE + GAP_TIME][['mort_hosp', 'mort_icu', 'los_icu']]

patients = patients[patients.index.get_level_values('icustay_id').isin(set(Ys.index.get_level_values('icustay_id')))]

vitals_data_filtered = vitals_data_filtered[(vitals_data_filtered.index.get_level_values('icustay_id').isin(set(Ys.index.get_level_values('icustay_id')))) & (vitals_data_filtered.index.get_level_values('hours_in') < WINDOW_SIZE)]

In [26]:
# Matching patients table and vitals table

# matching number patients
print(patients.shape)
print(vitals_data_filtered.shape)

# matching all patients and its order(subject_id)
a= set(list(vitals_data_filtered.index.get_level_values('subject_id')))
assert  a == set(list(vitals_data_filtered.index.get_level_values('subject_id')))
a == set(list(patients.index.get_level_values('subject_id')))

(30495, 18)
(731880, 312)

True

In [27]:
patients[(patients['total_los'] > 30) ].loc[:,['age','total_los']].mean()

age          62.584285
total_los    45.920751
dtype: float64

In [28]:
# Check again icu_los and total_los to ensure no abnormal behavior

sorted(list(patients['total_los']))
# sorted(list(patients['los_icu']))

[1.0859,
 1.0862,
 1.0864,
 1.0877,
 1.0893,
 1.092,
 1.0933,
 1.095,
 1.0951,
 1.0959,
 1.0971,
 1.0993,
 1.0995,
 1.1,
 1.1002,
 1.1004,
 1.1005,
 1.1028,
 1.103,
 1.1046,
 1.1069,
 1.1076,
 1.1077,
 1.1082,
 1.1083,
 1.1094,
 1.1102,
 1.1104,
 1.1105,
 1.1105,
 1.1108,
 1.1115,
 1.1118,
 1.1118,
 1.1126,
 1.114,
 1.1141,
 1.1153,
 1.1162,
 1.1165,
 1.1167,
 1.117,
 1.1182,
 1.119,
 1.1194,
 1.1203,
 1.1204,
 1.1206,
 1.1217,
 1.1217,
 1.1223,
 1.1244,
 1.1244,
 1.125,
 1.1257,
 1.1262,
 1.1264,
 1.1268,
 1.1305,
 1.1313,
 1.1313,
 1.1321,
 1.1327,
 1.1327,
 1.1347,
 1.1347,
 1.1349,
 1.1357,
 1.1357,
 1.137,
 1.1379,
 1.1383,
 1.1383,
 1.1383,
 1.1389,
 1.1389,
 1.139,
 1.1396,
 1.1399,
 1.1405,
 1.141,
 1.141,
 1.1412,
 1.1424,
 1.1431,
 1.1441,
 1.1444,
 1.1445,
 1.1449,
 1.145,
 1.1451,
 1.1451,
 1.1455,
 1.1457,
 1.1458,
 1.1458,
 1.1458,
 1.1459,
 1.1472,
 1.1481,
 1.1484,
 1.1488,
 1.15,
 1.15,
 1.15,
 1.15,
 1.151,
 1.151,
 1.1512,
 1.1514,
 1.1525,
 1.1528,
 1.1534,
 1.1542,
 1.1554,
 1.157,
 1.1586,
 1.1595,
 1.1608,
 1.1612,
 1.1634,
 1.1639,
 1.1659,
 1.166,
 1.166,
 1.1669,
 1.167,
 1.167,
 1.1671,
 1.1673,
 1.1677,
 1.168,
 1.1684,
 1.1704,
 1.1709,
 1.1714,
 1.1735,
 1.1748,
 1.1779,
 1.1785,
 1.1789,
 1.1795,
 1.1819,
 1.183,
 1.1843,
 1.1857,
 1.1857,
 1.1859,
 1.1874,
 1.1875,
 1.1896,
 1.192,
 1.1924,
 1.1948,
 1.1957,
 1.2012,
 1.2018,
 1.2032,
 1.2042,
 1.2052,
 1.2058,
 1.2078,
 1.2083,
 1.2084,
 1.2102,
 1.2104,
 1.2104,
 1.2137,
 1.2141,
 1.2147,
 1.2153,
 1.2157,
 1.2162,
 1.2163,
 1.2166,
 1.2181,
 1.2201,
 1.2212,
 1.2215,
 1.2215,
 1.2216,
 1.2219,
 1.2229,
 1.2245,
 1.225,
 1.2267,
 1.2308,
 1.2321,
 1.2328,
 1.2329,
 1.234,
 1.2374,
 1.2382,
 1.2426,
 1.2457,
 1.2466,
 1.2471,
 1.2493,
 1.25,
 1.2505,
 1.2519,
 1.2528,
 1.2547,
 1.2556,
 1.2573,
 1.2591,
 1.2598,
 1.2605,
 1.261,
 1.2619,
 1.2642,
 1.2645,
 1.2687,
 1.2687,
 1.2688,
 1.2688,
 1.2696,
 1.271,
 1.2712,
 1.2735,
 1.2736,
 1.2737,
 1.2778,
 1.2799,
 1.2801,
 1.2803,
 1.2809,
 1.281,
 1.2861,
 1.2861,
 1.2866,
 1.2868,
 1.2917,
 1.2918,
 1.2924,
 1.2925,
 1.2956,
 1.2995,
 1.3001,
 1.3018,
 1.3021,
 1.3021,
 1.3021,
 1.3033,
 1.3062,
 1.3084,
 1.3097,
 1.3114,
 1.312,
 1.3132,
 1.314,
 1.3158,
 1.316,
 1.317,
 1.317,
 1.3192,
 1.3203,
 1.3214,
 1.3215,
 1.3217,
 1.3227,
 1.3232,
 1.3239,
 1.3278,
 1.3279,
 1.33,
 1.332,
 1.3326,
 1.3333,
 1.3333,
 1.3333,
 1.3348,
 1.3354,
 1.3361,
 1.3403,
 1.3429,
 1.3433,
 1.3444,
 1.3456,
 1.3476,
 1.3502,
 1.3514,
 1.3514,
 1.3519,
 1.3548,
 1.3569,
 1.36,
 1.3615,
 1.3618,
 1.3678,
 1.3697,
 1.3701,
 1.3701,
 1.3711,
 1.3735,
 1.3743,
 1.3757,
 1.3767,
 1.3771,
 1.378,
 1.3787,
 1.3791,
 1.3797,
 1.3819,
 1.3836,
 1.384,
 1.384,
 1.385,
 1.3856,
 1.3857,
 1.3873,
 1.3885,
 1.3896,
 1.3898,
 1.3927,
 1.3938,
 1.3954,
 1.3955,
 1.3958,
 1.3958,
 1.3986,
 1.3997,
 1.4035,
 1.4045,
 1.4056,
 1.4063,
 1.4069,
 1.4082,
 1.4082,
 1.4083,
 1.4089,
 1.4097,
 1.4102,
 1.4111,
 1.4119,
 1.4134,
 1.4146,
 1.4179,
 1.4181,
 1.4192,
 1.4194,
 1.4201,
 1.4202,
 1.4203,
 1.4204,
 1.4265,
 1.4273,
 1.4292,
 1.4292,
 1.4333,
 1.4358,
 1.4382,
 1.4386,
 1.441,
 1.4424,
 1.443,
 1.4431,
 1.4431,
 1.4436,
 1.444,
 1.4443,
 1.4444,
 1.4479,
 1.4491,
 1.4507,
 1.4521,
 1.4528,
 1.4535,
 1.4543,
 1.4549,
 1.4549,
 1.4553,
 1.4556,
 1.4569,
 1.4572,
 1.4583,
 1.4597,
 1.4597,
 1.4617,
 1.4618,
 1.463,
 1.4646,
 1.4646,
 1.4647,
 1.4648,
 1.465,
 1.4653,
 1.4667,
 1.4669,
 1.467,
 1.4674,
 1.4694,
 1.4694,
 1.4736,
 1.475,
 1.4763,
 1.4771,
 1.4771,
 1.4778,
 1.4789,
 1.4792,
 1.4819,
 1.4831,
 1.4835,
 1.4844,
 1.4849,
 1.4861,
 1.4862,
 1.487,
 1.4882,
 1.4882,
 1.4882,
 1.49,
 1.4907,
 1.4924,
 1.4931,
 1.4944,
 1.4944,
 1.4948,
 1.4951,
 1.4954,
 1.4955,
 1.4966,
 1.4982,
 1.499,
 1.4993,
 1.5007,
 1.5017,
 1.5035,
 1.5065,
 1.5071,
 1.5076,
 1.5097,
 1.5125,
 1.5147,
 1.516,
 1.5166,
 1.5181,
 1.5192,
 1.5214,
 1.5215,
 1.522,
 1.5222,
 1.5246,
 1.5257,
 1.5314,
 1.534,
 1.5341,
 1.5354,
 1.5361,
 1.5369,
 1.5385,
 1.5389,
 1.5416,
 1.5487,
 1.549,
 1.55,
 1.5502,
 1.5503,
 1.5508,
 1.5519,
 1.5521,
 1.5533,
 1.5549,
 1.5573,
 1.5597,
 1.5597,
 1.5598,
 1.5599,
 1.5601,
 1.561,
 1.5639,
 1.5655,
 1.5661,
 1.5674,
 1.569,
 1.5708,
 1.572,
 1.5729,
 1.5756,
 1.5764,
 1.5764,
 1.5765,
 1.5774,
 1.5799,
 1.5804,
 1.5806,
 1.5833,
 1.585,
 1.5854,
 1.5929,
 1.5931,
 1.5939,
 1.5958,
 1.5958,
 1.5958,
 1.5972,
 1.5974,
 1.5986,
 1.5993,
 1.6012,
 1.6019,
 1.6039,
 1.6053,
 1.6056,
 1.6056,
 1.6083,
 1.609,
 1.6097,
 1.6112,
 1.6117,
 1.6124,
 1.613,
 1.6139,
 1.6154,
 1.616,
 1.6175,
 1.6176,
 1.6181,
 1.6184,
 1.6194,
 1.6201,
 1.6208,
 1.6216,
 1.6216,
 1.6222,
 1.6226,
 1.6236,
 1.6247,
 1.625,
 1.6264,
 1.6286,
 1.6299,
 1.6306,
 1.6317,
 1.6319,
 1.632,
 1.6326,
 1.6328,
 1.6334,
 1.6353,
 1.6387,
 1.6396,
 1.6407,
 1.6412,
 1.6417,
 1.6418,
 1.6445,
 1.6451,
 1.6452,
 1.6471,
 1.6479,
 1.6486,
 1.6486,
 1.6486,
 1.6493,
 1.6493,
 1.6497,
 1.6502,
 1.651,
 1.6514,
 1.6519,
 1.6522,
 1.6528,
 1.6528,
 1.6529,
 1.6538,
 1.6556,
 1.6569,
 1.6573,
 1.6601,
 1.6621,
 1.6647,
 1.6674,
 1.6687,
 1.67,
 1.6706,
 1.6715,
 1.6736,
 1.6757,
 1.6757,
 1.6807,
 1.6809,
 1.6825,
 1.6833,
 1.6854,
 1.6863,
 1.6874,
 1.6884,
 1.6938,
 1.6945,
 1.6948,
 1.6965,
 1.6969,
 1.6978,
 1.6993,
 1.6997,
 1.7031,
 1.7034,
 1.7035,
 1.7041,
 1.7044,
 1.7048,
 1.7052,
 1.7063,
 1.7131,
 1.7132,
 1.7147,
 1.7159,
 1.7167,
 1.718,
 1.7188,
 1.7188,
 1.7194,
 1.7198,
 1.7216,
 1.7225,
 1.7234,
 1.7243,
 1.7257,
 1.7266,
 1.7289,
 1.7307,
 1.7309,
 1.7311,
 1.7319,
 1.7319,
 1.732,
 1.7333,
 1.7335,
 1.7335,
 1.734,
 1.734,
 1.7354,
 1.7362,
 1.7368,
 1.7396,
 1.7409,
 1.7427,
 1.7438,
 1.7447,
 1.7456,
 1.7458,
 1.7459,
 1.7474,
 1.7498,
 1.7501,
 1.753,
 1.7535,
 1.7535,
 1.7544,
 1.755,
 1.7569,
 1.7572,
 1.7597,
 1.76,
 1.7611,
 1.7618,
 1.7618,
 1.762,
 1.7621,
 1.7621,
 1.7624,
 1.7624,
 1.7625,
 1.7639,
 1.7653,
 1.7658,
 1.7664,
 1.7666,
 1.7667,
 1.7674,
 1.768,
 1.7688,
 1.7692,
 1.7698,
 1.7706,
 1.7706,
 1.7708,
 1.7708,
 1.7712,
 1.7715,
 1.7715,
 1.7722,
 1.7722,
 1.7732,
 1.7752,
 1.7757,
 1.779,
 1.7798,
 1.7799,
 1.7799,
 1.7821,
 1.7822,
 1.7823,
 1.7826,
 1.7847,
 1.7854,
 1.7875,
 1.7884,
 1.7889,
 1.7892,
 1.7893,
 1.7896,
 1.7922,
 1.7928,
 1.7935,
 1.7937,
 1.7944,
 1.7945,
 1.7965,
 1.7965,
 1.7977,
 1.7986,
 1.7986,
 1.7986,
 1.7986,
 1.799,
 1.8012,
 1.8014,
 1.8014,
 1.8015,
 1.8021,
 1.8028,
 1.8041,
 1.8045,
 1.8049,
 1.8056,
 1.8056,
 1.8057,
 1.8067,
 1.8068,
 1.8076,
 1.8085,
 1.809,
 1.8097,
 1.8104,
 1.811,
 1.8118,
 1.8123,
 1.8125,
 1.8153,
 1.8153,
 1.8153,
 1.816,
 1.816,
 1.8164,
 1.8181,
 1.8182,
 1.8184,
 1.8208,
 1.8208,
 1.8212,
 1.8215,
 1.8234,
 1.8249,
 1.825,
 1.8255,
 1.8264,
 1.8283,
 1.8292,
 1.8292,
 1.8297,
 1.8306,
 1.8313,
 1.8319,
 1.8319,
 1.8326,
 1.8326,
 1.834,
 1.8353,
 1.8354,
 1.8355,
 1.8361,
 1.8363,
 1.8375,
 1.8396,
 1.8398,
 1.8403,
 1.8411,
 1.8417,
 1.8417,
 1.8421,
 1.8438,
 1.8445,
 1.8465,
 1.8467,
 1.8479,
 1.8479,
 1.8486,
 1.8493,
 1.8496,
 1.85,
 1.8503,
 1.8516,
 1.8551,
 1.8556,
 1.856,
 1.8576,
 1.8576,
 1.8583,
 1.859,
 1.8599,
 1.8604,
 1.8604,
 1.8605,
 1.8613,
 1.8622,
 1.8639,
 1.8653,
 1.866,
 1.8667,
 1.8681,
 1.8694,
 1.8695,
 1.8696,
 1.8701,
 1.872,
 1.8736,
 1.8743,
 1.8748,
 1.8757,
 1.876,
 1.8764,
 1.8771,
 1.8771,
 1.8778,
 1.8778,
 1.8785,
 1.8806,
 1.8816,
 1.8822,
 1.8826,
 1.8833,
 1.8836,
 1.8847,
 1.8854,
 1.8856,
 1.8857,
 1.8861,
 1.8869,
 1.8875,
 1.888,
 1.8889,
 1.8903,
 1.8905,
 1.8917,
 1.8917,
 1.8923,
 1.8932,
 1.8941,
 1.8944,
 1.8953,
 1.8955,
 1.8958,
 1.8958,
 1.897,
 1.8973,
 1.8977,
 1.8993,
 1.8993,
 1.8994,
 1.9007,
 1.9014,
 1.9014,
 1.9031,
 1.9035,
 1.9042,
 1.9042,
 1.905,
 1.9056,
 1.9056,
 1.9062,
 1.9067,
 1.9069,
 1.9069,
 1.9075,
 1.9076,
 1.9083,
 1.9083,
 1.9102,
 1.9104,
 1.9104,
 1.9104,
 1.9108,
 1.9112,
 1.9138,
 1.9146,
 1.9146,
 1.9152,
 1.9153,
 1.9163,
 1.9165,
 1.9167,
 1.9167,
 1.9207,
 1.9208,
 1.9215,
 1.9222,
 1.9231,
 1.9234,
 1.9235,
 1.9236,
 1.9238,
 1.925,
 1.9251,
 1.9255,
 1.9257,
 1.9271,
 1.9279,
 1.9295,
 1.9295,
 1.9312,
 1.9312,
 1.9326,
 1.9333,
 1.934,
 1.9341,
 1.9347,
 1.9347,
 1.9353,
 1.9354,
 1.936,
 1.9365,
 1.9368,
 1.9382,
 1.9389,
 1.9396,
 1.9403,
 1.9403,
 1.9406,
 1.941,
 1.941,
 1.941,
 1.9417,
 1.9424,
 1.9424,
 1.9435,
 1.9438,
 1.9444,
 1.9444,
 1.9456,
 1.9456,
 1.9458,
 1.9465,
 1.9472,
 1.9479,
 1.9486,
 1.9491,
 1.9494,
 1.9507,
 1.951,
 1.9528,
 1.953,
 1.9535,
 1.9535,
 1.9538,
 1.9542,
 1.9546,
 1.9548,
 1.9556,
 1.9565,
 1.9571,
 1.9573,
 1.9576,
 1.9589,
 1.959,
 1.959,
 1.9597,
 1.9614,
 1.9618,
 1.9641,
 1.9653,
 1.966,
 1.9663,
 1.9667,
 1.9674,
 1.9681,
 1.9681,
 1.9685,
 1.9694,
 1.9701,
 1.9701,
 1.9706,
 1.9708,
 1.9717,
 1.9735,
 1.974,
 1.9743,
 1.975,
 1.9756,
 1.976,
 1.9763,
 1.9764,
 1.9764,
 1.9764,
 1.9764,
 1.9771,
 1.9778,
 1.978,
 ...]

In [29]:
# vitals_data_filtered.head(200)

## Feature reorganization 

<ol>
<li>Taking first time measurements of each vital labs </li>
<li>Computing the "trajectory of each vitals lab if they are measured multiple times (last__time_masure - first_time_measure)</li>
<li>Including static patients' information</li>
<li>(Optional) Including intervention features</li>
</ol>

In [42]:
# Get list vital_lab_name
vital_lab_name = list(vitals_data.columns.levels[0])
vital_lab_name = [c.replace(' ','_') for c in vital_lab_name]

# double vital_lab_list (ex: albumin for first time taking measure and albumin_last for last time taking measure)
vital_name_first_last = []
for i in vital_lab_name:
    vital_name_first_last.append(i)
    vital_name_first_last.append(str(i + '_last'))


# Create new dataframe with intervention name as column
patient_data = pd.DataFrame(columns = vital_name_first_last)

# Get subject id of all patient
patient_id = patients.index.get_level_values('subject_id')

# Add first observed measure of each vitals lab to patient_data
idx = pd.IndexSlice

for p_id in patient_id:
    a = vitals_data_filtered.loc[idx[p_id,:,:,:], idx[:,'mean']]
    vital_each_patient = []
    for i in range(0,104):
        if a.iloc[:,i].first_valid_index() == None:
            vital_each_patient.append(np.nan)
        else:
            index = a.iloc[:,i].first_valid_index()[3]
            vital_each_patient.append(a.iloc[index, i])
#             if a.iloc[index+1:,i].last_valid_index() != None:
#                 lst_last.append(a.iloc[a.iloc[index+1:,i].last_valid_index()[3], i]

        if a.iloc[:,i].last_valid_index() == None:
            vital_each_patient.append(np.nan)
    #         lst_last.append(np.nan)
        else:
            index = a.iloc[:,i].last_valid_index()[3]
            vital_each_patient.append(a.iloc[index, i])
#     print(len(vital_name_first_last))      
#     print(vital_name_first_last)
#     print(vital_each_patient)
#     break
    patient_data.loc[p_id] = vital_each_patient


# patient_data.head(50)

In [43]:
patient_data.head()

,alanine_aminotransferase,alanine_aminotransferase_last,albumin,albumin_last,albumin_ascites,albumin_ascites_last,albumin_pleural,albumin_pleural_last,albumin_urine,albumin_urine_last,alkaline_phosphate,alkaline_phosphate_last,anion_gap,anion_gap_last,asparate_aminotransferase,asparate_aminotransferase_last,basophils,basophils_last,bicarbonate,bicarbonate_last,bilirubin,bilirubin_last,blood_urea_nitrogen,blood_urea_nitrogen_last,calcium,calcium_last,calcium_ionized,calcium_ionized_last,calcium_urine,calcium_urine_last,cardiac_index,cardiac_index_last,cardiac_output_fick,cardiac_output_fick_last,cardiac_output_thermodilution,cardiac_output_thermodilution_last,central_venous_pressure,central_venous_pressure_last,chloride,chloride_last,chloride_urine,chloride_urine_last,cholesterol,cholesterol_last,cholesterol_hdl,cholesterol_hdl_last,cholesterol_ldl,cholesterol_ldl_last,co2,co2_last,"co2_(etco2,_pco2,_etc.)","co2_(etco2,_pco2,_etc.)_last",creatinine,creatinine_last,creatinine_ascites,creatinine_ascites_last,creatinine_body_fluid,creatinine_body_fluid_last,creatinine_pleural,creatinine_pleural_last,creatinine_urine,creatinine_urine_last,diastolic_blood_pressure,diastolic_blood_pressure_last,eosinophils,eosinophils_last,fibrinogen,fibrinogen_last,fraction_inspired_oxygen,fraction_inspired_oxygen_last,fraction_inspired_oxygen_set,fraction_inspired_oxygen_set_last,glascow_coma_scale_total,glascow_coma_scale_total_last,glucose,glucose_last,heart_rate,heart_rate_last,height,height_last,hematocrit,hematocrit_last,hemoglobin,hemoglobin_last,lactate,lactate_last,lactate_dehydrogenase,lactate_dehydrogenase_last,lactate_dehydrogenase_pleural,lactate_dehydrogenase_pleural_last,lactic_acid,lactic_acid_last,lymphocytes,lymphocytes_last,lymphocytes_ascites,lymphocytes_ascites_last,lymphocytes_atypical,lymphocytes_atypical_last,lymphocytes_atypical_csl,lymphocytes_atypical_csl_last,lymphocytes_body_fluid,lymphocytes_body_fluid_last,lymphocytes_percent,lymphocytes_percent_last,lymphocytes_pleural,lymphocytes_pleural_last,magnesium,magnesium_last,mean_blood_pressure,mean_blood_pressure_last,mean_corpuscular_hemoglobin,mean_corpuscular_hemoglobin_last,mean_corpuscular_hemoglobin_concentration,mean_corpuscular_hemoglobin_concentration_last,mean_corpuscular_volume,mean_corpuscular_volume_last,monocytes,monocytes_last,monocytes_csl,monocytes_csl_last,neutrophils,neutrophils_last,oxygen_saturation,oxygen_saturation_last,partial_pressure_of_carbon_dioxide,partial_pressure_of_carbon_dioxide_last,partial_pressure_of_oxygen,partial_pressure_of_oxygen_last,partial_thromboplastin_time,partial_thromboplastin_time_last,peak_inspiratory_pressure,peak_inspiratory_pressure_last,ph,ph_last,ph_urine,ph_urine_last,phosphate,phosphate_last,phosphorous,phosphorous_last,plateau_pressure,plateau_pressure_last,platelets,platelets_last,positive_end-expiratory_pressure,positive_end-expiratory_pressure_last,positive_end-expiratory_pressure_set,positive_end-expiratory_pressure_set_last,post_void_residual,post_void_residual_last,potassium,potassium_last,potassium_serum,potassium_serum_last,prothrombin_time_inr,prothrombin_time_inr_last,prothrombin_time_pt,prothrombin_time_pt_last,pulmonary_artery_pressure_mean,pulmonary_artery_pressure_mean_last,pulmonary_artery_pressure_systolic,pulmonary_artery_pressure_systolic_last,pulmonary_capillary_wedge_pressure,pulmonary_capillary_wedge_pressure_last,red_blood_cell_count,red_blood_cell_count_last,red_blood_cell_count_ascites,red_blood_cell_count_ascites_last,red_blood_cell_count_csf,red_blood_cell_count_csf_last,red_blood_cell_count_pleural,red_blood_cell_count_pleural_last,red_blood_cell_count_urine,red_blood_cell_count_urine_last,respiratory_rate,respiratory_rate_last,respiratory_rate_set,respiratory_rate_set_last,sodium,sodium_last,systemic_vascular_resistance,systemic_vascular_resistance_last,systolic_blood_pressure,systolic_blood_pressure_last,temperature,temperature_last,tidal_volume_observed,tidal_volume_observed_last,tidal_volume_set,tidal_volume_set_last,tidal_volume_spontaneous,tidal_volume_spontaneous_last,total_protein,total_protein_last,total_protein_urine,total_protein_urine_last,troponin-i,troponin-i_last,troponin-t,troponin-t_last,venous_pvo2,venous_pvo2_last,weight,weight_last,white_blood_cell_count,white_blood_cell_count_last,white_blood_cell_count_urine,white_blood_cell_count_urine_last
3,25.0,25.0,1.8,1.8,NaN,NaN,NaN,NaN,NaN,NaN,73.0,73.0,20.666667,15.0,69.0,69.0,NaN,NaN,16.333333,17.0,0.800000,0.800000,44.2,42.0,12.0,17.0,21.333333,18.333333,6.92,6.7,0.963333,1.13,NaN,NaN,1.68468,2.52252,3.74,2.856667,9.41316,5.59701,13.0,9.0,109.5,111.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.6,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.666667,55.0,NaN,NaN,431.0,431.0,NaN,NaN,1.00,0.4,3.0,6.0,198.555556,136.0,143.0,75.0,NaN,NaN,27.033333,30.900000,8.716667,10.4,7.033333,2.1,NaN,NaN,NaN,NaN,7.033333,2.1,8.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.92,2.3,101.555567,71.000000,29.2,30.2,32.266667,33.5,90.666667,90.0,7.0,5.0,NaN,NaN,81.0,87.0,74.0,98.0,32.0,32.333333,224.666667,96.0,48.02,36.2,37.400002,34.0,5.033333,4.7,5.15,4.7,20.4,17.4,233.6,219.0,5.0,8.0,8.0,8.0,373.075673,373.075673,4.163636,4.9,NaN,NaN,1.62,1.5,15.22,14.4,14.0,27.0,19.0,39.0,15.0,22.0,2.884,3.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,18.0,16.0,18.0,142.666667,139.0,1668.449951,900.0,95.166667,102.0,36.488895,37.599999,690.0,600.0,600.0,600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.000000,106.000000,14.842857,18.8,35.0,35.0,7.40,7.3525,5.0,5.0
4,24.0,24.0,2.8,2.8,NaN,NaN,NaN,NaN,NaN,NaN,837.0,837.0,15.000000,15.0,64.0,64.0,0.1,0.1,21.000000,21.0,1.516667,1.516667,10.0,10.0,21.0,21.0,21.000000,21.000000,7.70,7.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.000000,69.0,NaN,NaN,NaN,NaN,NaN,NaN,0.95,0.5,15.0,15.0,180.250000,153.0,105.5,97.0,NaN,NaN,32.000000,31.800000,10.500000,10.6,2.100000,2.1,330.0,330.0,NaN,NaN,NaN,NaN,6.5,6.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.90,1.9,80.666702,85.666702,30.8,30.8,33.200000,33.2,93.000000,93.0,2.1,2.1,NaN,NaN,91.3,91.3,94.0,98.0,28.0,28.000000,NaN,NaN,33.20,33.2,NaN,NaN,3.100000,3.1,3.10,3.1,NaN,NaN,201.0,201.0,NaN,NaN,NaN,NaN,NaN,NaN,3.300000,3.3,NaN,NaN,1.10,1.1,12.80,12.8,NaN,NaN,NaN,NaN,NaN,NaN,3.420,3.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,28.0,NaN,NaN,141.000000,141.0,NaN,NaN,116.000000,119.0,37.444423,36.666683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.599998,53.599998,9.700000,9.7,NaN,NaN,7.47,7.4700,7.0,7.0
6,23.0,23.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,58.0,58.0,23.000000,20.0,34.0,34.0,0.1,0.1,15.000000,18.0,0.200000,0.200000,62.0,65.0,18.0,18.0,NaN,NaN,8.60,7.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,8.0,105.0,101.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.7,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.000000,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,15.0,214.000000,130.0,83.0,94.0,NaN,NaN,29.550000,34.400001,9.800000,9.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00,2.1,77.000000,87.000000,28.6,28.2,31.800000,30.8,90.000000,92.0,1.6,1.6,NaN,NaN,97.5,97.5,100.0,100.0,NaN,NaN,NaN,NaN,139.00,40.6,NaN,NaN,8.500000,6.9,6.90,6.9,NaN,NaN,315.0,330.0,NaN,NaN,NaN,NaN,NaN,NaN,5.400000,4.8,NaN,NaN,1.40,1.0,14.60,12.6,NaN,NaN,NaN,NaN,NaN,NaN,3.440,3.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,13.0,NaN,NaN,138.000000,134.0,NaN,NaN,141.000000,127.0,36.555578,36.888895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.600000,10.6,NaN,NaN,NaN,NaN,NaN,NaN
9,11.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,66.0,13.000000,13.0,12.0,12.0,1.2,1.2,30.000000,26.0,0.400000,0.400000,16.0,17.0,26.0,26.0,29.000000,27.000000,9.20,9.2,0.990000,1.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0,NaN,NaN,208.0,208.0,48.0,48.0,141.0,141.0,1.2,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.000000,76.5,NaN,NaN,NaN,NaN,NaN,NaN,1.00,0.6,7.0,3.0,129.000000,157.0,84.0,100.0,NaN,NaN,45.200000,37.400001,15.400000,12.9,1.900000,2.4,NaN,NaN,NaN,NaN,1.900000,2.4,41.6,41.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.80,1.8,103.400000,100.500000,28.3,28.7,34.100000,34.5,83.000000,83.0,4.8,4.8,NaN,NaN,50.1,50.1,98.2,100.0,46.0,41.000000,75.000000,90.0,21.70,21.7,26.000000,25.0,2.900000,2.9,2.90,2.9,20.0,19.0,258.0,249.0,5.0,8.0,5.0,8.0,NaN,NaN,2.800000,3.0,NaN,NaN,1.10,1.1,12.70,12.7,NaN,NaN,NaN,NaN,NaN,NaN,5.460,4.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,14.0,14.0,14.0,140.000000,136.0,NaN,NaN,160.400000,177.0,35.500000,37.555577,613.0,720.0,600.0,700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.500000,13.7,NaN,NaN,7.39,7.4100,8.0,5.0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.000000,14.0,NaN,NaN,NaN,NaN,25.000000,26.0,NaN,NaN,14.0,19.0,25.0,26.0,NaN,NaN,9.60,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.0,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.000000,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,15.0,129.000000,126.0,86.0,101.0,NaN,NaN,38.099999,36.000000,12.600000,12.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.40,2.4,76.000000,73.000000,28.3,29.2,33.000000,34.8,86.000000,84.0,NaN,NaN,NaN,NaN,NaN,NaN,96.0,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.700000,3.7,3.70,3.7,NaN,NaN,258.0,243.0,NaN,NaN,NaN,NaN,NaN,NaN,3.900000,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.450,4.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,18.0,NaN,NaN,141.000000,142.0,NaN,NaN,115.000000,109.0,36.888895,36.444422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.300000,12.8,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
temp_patient_data = patient_data.copy()

In [45]:
#Add static variable to dataset 
dummy_sex = pd.get_dummies(patients['gender'])
dummy_insurance = pd.get_dummies(patients['insurance'])
dummy_insurance.columns = [c.replace(' ', '_') for c in dummy_insurance.columns]
dummy_insurance

,,,Government,Medicaid,Medicare,Private,Self_Pay
subject_id,hadm_id,icustay_id,,,,,
3,145834,211552,0,0,1,0,0
4,185777,294638,0,0,0,1,0
6,107064,228232,0,0,1,0,0
9,150750,220597,0,1,0,0,0
11,194540,229441,0,0,0,1,0
...,...,...,...,...,...,...,...
99985,176670,279638,0,0,0,1,0
99991,151118,226241,0,0,0,1,0
99992,197084,242052,0,0,1,0,0
99995,137810,229633,0,0,1,0,0
99999,113369,246512,0,0,1,0,0

In [46]:
dummy_sex.F

subject_id  hadm_id  icustay_id
3           145834   211552        0
4           185777   294638        1
6           107064   228232        1
9           150750   220597        0
11          194540   229441        1
                                  ..
99985       176670   279638        0
99991       151118   226241        0
99992       197084   242052        1
99995       137810   229633        1
99999       113369   246512        1
Name: F, Length: 30495, dtype: uint8

In [47]:
male = pd.Series(dummy_sex.M)
female = pd.Series(dummy_sex.F)
Government_insurance = pd.Series(dummy_insurance.Government)
Medicaid_insurance = pd.Series(dummy_insurance.Medicaid)
Medicare_insurance = pd.Series(dummy_insurance.Medicare)
Private_insurance = pd.Series(dummy_insurance.Private)
Self_Pay_insurance = pd.Series(dummy_insurance.Self_Pay)

In [70]:
male

subject_id  hadm_id  icustay_id
3           145834   211552        1
4           185777   294638        0
6           107064   228232        0
9           150750   220597        1
11          194540   229441        0
                                  ..
99985       176670   279638        1
99991       151118   226241        1
99992       197084   242052        0
99995       137810   229633        0
99999       113369   246512        0
Name: M, Length: 30495, dtype: uint8

In [48]:
# temp_patient_data = pd.concat([temp_patient_data, dummy_sex], axis=1,ignore_index=True)
temp_patient_data['male'] = male.values
temp_patient_data['female'] = female.values
temp_patient_data['Government_insurance'] = Government_insurance.values
temp_patient_data['Medicaid_insurance'] = Medicaid_insurance.values
temp_patient_data['Medicare_insurance'] = Medicare_insurance.values
temp_patient_data['Private_insurance'] = Private_insurance.values
temp_patient_data['Self_Pay_insurance'] = Self_Pay_insurance.values
temp_patient_data

,alanine_aminotransferase,alanine_aminotransferase_last,albumin,albumin_last,albumin_ascites,albumin_ascites_last,albumin_pleural,albumin_pleural_last,albumin_urine,albumin_urine_last,alkaline_phosphate,alkaline_phosphate_last,anion_gap,anion_gap_last,asparate_aminotransferase,asparate_aminotransferase_last,basophils,basophils_last,bicarbonate,bicarbonate_last,bilirubin,bilirubin_last,blood_urea_nitrogen,blood_urea_nitrogen_last,calcium,calcium_last,calcium_ionized,calcium_ionized_last,calcium_urine,calcium_urine_last,cardiac_index,cardiac_index_last,cardiac_output_fick,cardiac_output_fick_last,cardiac_output_thermodilution,cardiac_output_thermodilution_last,central_venous_pressure,central_venous_pressure_last,chloride,chloride_last,chloride_urine,chloride_urine_last,cholesterol,cholesterol_last,cholesterol_hdl,cholesterol_hdl_last,cholesterol_ldl,cholesterol_ldl_last,co2,co2_last,"co2_(etco2,_pco2,_etc.)","co2_(etco2,_pco2,_etc.)_last",creatinine,creatinine_last,creatinine_ascites,creatinine_ascites_last,creatinine_body_fluid,creatinine_body_fluid_last,creatinine_pleural,creatinine_pleural_last,creatinine_urine,creatinine_urine_last,diastolic_blood_pressure,diastolic_blood_pressure_last,eosinophils,eosinophils_last,fibrinogen,fibrinogen_last,fraction_inspired_oxygen,fraction_inspired_oxygen_last,fraction_inspired_oxygen_set,fraction_inspired_oxygen_set_last,glascow_coma_scale_total,glascow_coma_scale_total_last,glucose,glucose_last,heart_rate,heart_rate_last,height,height_last,hematocrit,hematocrit_last,hemoglobin,hemoglobin_last,lactate,lactate_last,lactate_dehydrogenase,lactate_dehydrogenase_last,lactate_dehydrogenase_pleural,lactate_dehydrogenase_pleural_last,lactic_acid,lactic_acid_last,lymphocytes,lymphocytes_last,lymphocytes_ascites,lymphocytes_ascites_last,lymphocytes_atypical,lymphocytes_atypical_last,lymphocytes_atypical_csl,lymphocytes_atypical_csl_last,lymphocytes_body_fluid,lymphocytes_body_fluid_last,lymphocytes_percent,lymphocytes_percent_last,lymphocytes_pleural,lymphocytes_pleural_last,magnesium,magnesium_last,mean_blood_pressure,mean_blood_pressure_last,mean_corpuscular_hemoglobin,mean_corpuscular_hemoglobin_last,mean_corpuscular_hemoglobin_concentration,mean_corpuscular_hemoglobin_concentration_last,mean_corpuscular_volume,mean_corpuscular_volume_last,monocytes,monocytes_last,monocytes_csl,monocytes_csl_last,neutrophils,neutrophils_last,oxygen_saturation,oxygen_saturation_last,partial_pressure_of_carbon_dioxide,partial_pressure_of_carbon_dioxide_last,partial_pressure_of_oxygen,partial_pressure_of_oxygen_last,partial_thromboplastin_time,partial_thromboplastin_time_last,peak_inspiratory_pressure,peak_inspiratory_pressure_last,ph,ph_last,ph_urine,ph_urine_last,phosphate,phosphate_last,phosphorous,phosphorous_last,plateau_pressure,plateau_pressure_last,platelets,platelets_last,positive_end-expiratory_pressure,positive_end-expiratory_pressure_last,positive_end-expiratory_pressure_set,positive_end-expiratory_pressure_set_last,post_void_residual,post_void_residual_last,potassium,potassium_last,potassium_serum,potassium_serum_last,prothrombin_time_inr,prothrombin_time_inr_last,prothrombin_time_pt,prothrombin_time_pt_last,pulmonary_artery_pressure_mean,pulmonary_artery_pressure_mean_last,pulmonary_artery_pressure_systolic,pulmonary_artery_pressure_systolic_last,pulmonary_capillary_wedge_pressure,pulmonary_capillary_wedge_pressure_last,red_blood_cell_count,red_blood_cell_count_last,red_blood_cell_count_ascites,red_blood_cell_count_ascites_last,red_blood_cell_count_csf,red_blood_cell_count_csf_last,red_blood_cell_count_pleural,red_blood_cell_count_pleural_last,red_blood_cell_count_urine,red_blood_cell_count_urine_last,respiratory_rate,respiratory_rate_last,respiratory_rate_set,respiratory_rate_set_last,sodium,sodium_last,systemic_vascular_resistance,systemic_vascular_resistance_last,systolic_blood_pressure,systolic_blood_pressure_last,temperature,temperature_last,tidal_volume_observed,tidal_volume_observed_last,tidal_volume_set,tidal_volume_set_last,tidal_volume_spontaneous,tidal_volume_spontaneous_last,total_protein,total_protein_last,total_protein_urine,total_protein_urine_last,troponin-i,troponin-i_last,troponin-t,troponin-t_last,venous_pvo2,venous_pvo2_last,weight,weight_last,white_blood_cell_count,white_blood_cell_count_last,white_blood_cell_count_urine,white_blood_cell_count_urine_last,male,female,Government_insurance,Medicaid_insurance,Medicare_insurance,Private_insurance,Self_Pay_insurance
3,25.0,25.0,1.8,1.8,NaN,NaN,NaN,NaN,NaN,NaN,73.0,73.0,20.666667,15.0,69.0,69.0,NaN,NaN,16.333333,17.0,0.800000,0.800000,44.2,42.0,12.0,17.0,21.333333,18.333333,6.92,6.7,0.963333,1.13,NaN,NaN,1.68468,2.52252,3.74,2.856667,9.41316,5.59701,13.0,9.0,109.5,111.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.6,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.666667,55.0,NaN,NaN,431.0,431.0,NaN,NaN,1.00,0.4,3.0,6.0,198.555556,136.0,143.0,75.0,NaN,NaN,27.033333,30.900000,8.716667,10.4,7.033333,2.1,NaN,NaN,NaN,NaN,7.033333,2.1,8.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.92,2.3,101.555567,71.000000,29.2,30.2,32.266667,33.5,90.666667,90.0,7.0,5.0,NaN,NaN,81.0,87.0,74.0,98.0,32.0,32.333333,224.666667,96.0,48.02,36.2,37.400002,34.0,5.033333,4.7,5.15,4.7,20.4,17.4,233.6,219.0,5.0,8.0,8.0,8.0,373.075673,373.075673,4.163636,4.9,NaN,NaN,1.62,1.5,15.22,14.4,14.0,27.0,19.0,39.0,15.0,22.0,2.884,3.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.000000,18.0,16.0,18.0,142.666667,139.0,1668.449951,900.0,95.166667,102.0,36.488895,37.599999,690.0,600.0,600.0,600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.000000,106.000000,14.842857,18.8,35.0,35.0,7.400,7.3525,5.0,5.0,1,0,0,0,1,0,0
4,24.0,24.0,2.8,2.8,NaN,NaN,NaN,NaN,NaN,NaN,837.0,837.0,15.000000,15.0,64.0,64.0,0.1,0.1,21.000000,21.0,1.516667,1.516667,10.0,10.0,21.0,21.0,21.000000,21.000000,7.70,7.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.000000,69.0,NaN,NaN,NaN,NaN,NaN,NaN,0.95,0.5,15.0,15.0,180.250000,153.0,105.5,97.0,NaN,NaN,32.000000,31.800000,10.500000,10.6,2.100000,2.1,330.0,330.0,NaN,NaN,NaN,NaN,6.5,6.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.90,1.9,80.666702,85.666702,30.8,30.8,33.200000,33.2,93.000000,93.0,2.1,2.1,NaN,NaN,91.3,91.3,94.0,98.0,28.0,28.000000,NaN,NaN,33.20,33.2,NaN,NaN,3.100000,3.1,3.10,3.1,NaN,NaN,201.0,201.0,NaN,NaN,NaN,NaN,NaN,NaN,3.300000,3.3,NaN,NaN,1.10,1.1,12.80,12.8,NaN,NaN,NaN,NaN,NaN,NaN,3.420,3.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.000000,28.0,NaN,NaN,141.000000,141.0,NaN,NaN,116.000000,119.0,37.444423,36.666683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.599998,53.599998,9.700000,9.7,NaN,NaN,7.470,7.4700,7.0,7.0,0,1,0,0,0,1,0
6,23.0,23.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,58.0,58.0,23.000000,20.0,34.0,34.0,0.1,0.1,15.000000,18.0,0.200000,0.200000,62.0,65.0,18.0,18.0,NaN,NaN,8.60,7.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,8.0,105.0,101.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.7,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.000000,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,15.0,214.000000,130.0,83.0,94.0,NaN,NaN,29.550000,34.400001,9.800000,9.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00,2.1,77.000000,87.000000,28.6,28.2,31.800000,30.8,90.000000,92.0,1.6,1.6,NaN,NaN,97.5,97.5,100.0,100.0,NaN,NaN,NaN,NaN,139.00,40.6,NaN,NaN,8.500000,6.9,6.90,6.9,NaN,NaN,315.0,330.0,NaN,NaN,NaN,NaN,NaN,NaN,5.400000,4.8,NaN,NaN,1.40,1.0,14.60,12.6,NaN,NaN,NaN,NaN,NaN,NaN,3.440,3.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.000000,13.0,NaN,NaN,138.000000,134.0,NaN,NaN,141.000000,127.0,36.555578,36.888895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.600000,10.6,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,1,0,0
9,11.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,66.0,13.000000,13.0,12.0,12.0,1.2,1.2,30.000000,26.0,0.400000,0.400000,16.0,17.0,26.0,26.0,29.000000,27.000000,9.20,9.2,0.990000,1.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0,NaN,NaN,208.0,208.0,48.0,48.0,141.0,141.0,1.2,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.000000,76.5,NaN,NaN,NaN,NaN,NaN,NaN,1.00,0.6,7.0,3.0,129.000000,157.0,84.0,100.0,NaN,NaN,45.200000,37.400001,15.400000,12.9,1.900000,2.4,NaN,NaN,NaN,NaN,1.900000,2.4,41.6,41.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.80,1.8,103.400000,100.500000,28.3,28.7,34.100000,34.5,83.000000,83.0,4.8,4.8,NaN,NaN,50.1,50.1,98.2,100.0,46.0,41.000000,75.000000,90.0,21.70,21.7,26.000000,25.0,2.900000,2.9,2.90,2.9,20.0,19.0,258.0,249.0,5.0,8.0,5.0,8.0,NaN,NaN,2.800000,3.0,NaN,NaN,1.10,1.1,12.70,12.7,NaN,NaN,NaN,NaN,NaN,NaN,5.460,4.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,14.0,14.0,14.0,140.000000,136.0,NaN,NaN,160.400000,177.0,35.500000,37.555577,613.0,720.0,600.0,700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.500000,13.7,NaN,NaN,7.390,7.4100,8.0,5.0,1,0,0,1,0,0,0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.000000,14.0,NaN,NaN,NaN,NaN,25.000000,26.0,NaN,NaN,14.0,19.0,25.0,26.0,NaN,NaN,9.60,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.0,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.000000,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,15.0,129.000000,126.0,86.0,101.0,NaN,NaN,38.099999,36.000000,12.600000,12.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.40,2.4,76.000000,73.000000,28.3,29.2,33.000000,34.8,86.000000,84.0,NaN,NaN,NaN,NaN,NaN,NaN,96.0,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.700000,3.7,3.70,3.7,NaN,NaN,258.0,243.0,NaN,NaN,NaN,NaN,NaN,NaN,3.900000,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.450,4.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.000000,18.0,NaN,NaN,141.000000,142.0,NaN,NaN,115.000000,109.0,36.888895,36.444422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.300000,12.8,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99985,36.0,31.0,2.5,2.4,NaN,NaN,NaN,NaN,NaN,NaN,77.0,89.0,12.000000,11.0,29.0,29.0,0.3,0.3,24.000000,22.0,0.700000,0.800000,13.0,16.0,NaN,NaN,26.000000,25.000000,7.20,7.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,6.0,104.0,105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.000000,65.0,NaN,NaN,NaN,NaN,0.80,0.60,NaN,NaN,NaN,NaN,117.000000,96.0,118.0,88.0,NaN,NaN,28.500000,28.900000,9.400000,9.7,2.100000,1.2,172.0,162.0,NaN,NaN,2.100000,1.2,11.7,11.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.70,1.7,102.000000,85.000000,29.5,29.7,32.900000,33.7,90.000000,88.0,6.6,6.6,NaN,NaN,80.5,80.5,84.0,96.0,39.0,41.000000,NaN,NaN,47.70,47.7,31.000000,27.0,2.200000,2.2,2.20,2.2,26.0,20.0,250.0,253.0,8.0,8.0,12.0,8.0,NaN,NaN,3.900000,3.9,3.9,3.9,1.10,1.1,12.50,12.5,NaN,NaN,NaN,NaN,NaN,NaN,3.180,3.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.000000,18.0,18.0,18.0,136.000000,134.0,NaN,NaN,168.000000,126.0,38.055556,37.277778,498.0,494.0,500.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.849031,71.849031,12.600000,12.3,NaN,NaN,7.410,7.3700,NaN,NaN,1,0,0,0,0,1,0
99991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.000000,10.0,NaN,NaN,NaN,NaN,23.000000,26.0,NaN,NaN,26.0,18.0,NaN,NaN,22.000000,22.000000,6.70,7.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,11.0,112.0,113.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.7,0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.500000,76.0,NaN,NaN,NaN,NaN,0.40,0.40,NaN,NaN,NaN,NaN,138.000000,121.0,121.0,101.0,NaN,NaN,26.100000,29.800000,9.000000,10.4,1.300000,1.0,NaN,NaN,NaN,NaN,1.100000,1.0,17.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.70,2.4,101.500000,94.000000,29.3,29.8,34.500000,35.0,85.000000,85.0,22.0,22.0,NaN,NaN,35.0,35.0,96.0,96.0,35.5,35.500000,NaN,NaN,27.80,27.8,NaN,NaN,2.300000,1.7,2.60,1.7,NaN,NaN,188.0,273.0,NaN,NaN,NaN,NaN,NaN,NaN,3.400000,3.4,3.6,3.4,1.00,1.0,12.10,12.1,NaN,NaN,NaN,NaN,NaN,NaN,3.080,3.50,NaN,NaN,NaN,NaN,NaN,NaN,7.0,7.0,26.000000,19.0,NaN,NaN,143.000000,146.0,NaN,NaN,178.000000,157.0,37.222222,37.277778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.394637,100.289273,4.200000,7.3,1.0,1.0,7.385,7.3850,5.5,5.5,1,0,0,0,0,1,0
99992,32.0,32.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,55.0,55.0,14.000000,15.0,20.0,20.0,0.3,0.3,22.000000,22.0,0.133333,0.133333,56.0,56.0,NaN,NaN,NaN,NaN,7.10,7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.0,104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.2,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.000000,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,206.000000,110.0,67.0,78.0,NaN,NaN,21.175000,29.200000,4.750000,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.1,9.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.80,1.9,69.000000,80.000000,34.5,32.1,36.400000,37.5,95.000000,86.0,5.0,5.0,NaN,NaN,84.9,84.9,95.0,94.0,NaN,NaN,NaN,NaN,43.90,43.9,NaN,NaN,6.000000,7.4,7.40,7.4,NaN,NaN,188.0,105.0,NaN,NaN,NaN,NaN,NaN,NaN,4.750000,4.9,4.9,4.9,1.10,1.1,12.90,12.9,NaN,NaN,NaN,NaN,NaN,NaN,1.350,3.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.000000,20.0,NaN,NaN,136.000000,136.0,NaN,NaN,122.000000,159.0,36.444444,36.888889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.400000,65.271942,21.400000,17.1,NaN,NaN,NaN,NaN,5.0,5.0,0,1,0,0,1,0,0
99995,35.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.0,89.0,8.000000,9.0,75.0,75.0,NaN,NaN,36.000000,32.0,3.500000,3.500000,10.0,13.0,NaN,NaN,33.750000,36.000000,8.50,8.2,1.057500,1.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,94.8,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.333333,49.0,NaN,NaN,NaN,NaN,0.50,0.50,NaN,NaN,NaN,NaN,106.600000,127.0,53.5,74.0,158.875,158.875,25.750000,28.700000,8.550000,9.3,1.250000,0.9,260.0,260.0,NaN,NaN,1.300000,0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.90,1.9,74.000000,83.000000,30.5,29.8,32.900000,32.5,93.000000,92.0,NaN,NaN,NaN,NaN,NaN,NaN,98.0,99.0,43.0,49.000000,NaN,NaN,35.50,34.7,25.000000,16.0,2.700000,3.3,2.70,3.3,19.0,19.0,189.0,166.0,6.0,6.0,5.0,0.0,NaN,NaN,3.400000,3.5,3.1,4.0,1.90,1.6,19.70,17.1,NaN,NaN,NaN,NaN,NaN,NaN,2.860,3.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.666667,23.0,14.0,12.0,132.000000,135.0,NaN,NaN,123.333333,143.0,36.444444,37.111111,620.0,302.0,450.0,450.0,328.0,331.0,NaN,NaN,NaN,NaN,NaN,NaN,0.01,0.01,NaN,NaN,67.928709,67.857419,8.200000,7.3,NaN,NaN,7.495,7.4600,NaN,NaN,0,1,0,0,1,0,0
99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.000000,10.0,NaN,NaN,NaN,NaN,23.000000,26.0,NaN,NaN,32.0,15.0,NaN,NaN,NaN,NaN,7.90,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104.0,109.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.6,0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.500000,64.0,NaN,NaN,NaN,NaN,0.35,0.35,NaN,NaN,NaN,NaN,148.000000,175.0,103.0,78.0,152.200,152.200,26.700000,25.800000,8.700000,8.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.30,1.6,71.000000,80.000000,30.3,30.9,32.700000,33.6,93.000000,92.0,NaN,NaN,NaN,NaN,NaN,NaN,99.0,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.700000,1.9,1.90,1.9,NaN,NaN,252.0,182.0,NaN,NaN,NaN,NaN,NaN,NaN,4.200000,4.2,4.2,4.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.890,2.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.000000,16.0,NaN,NaN,138.000000,141.0,NaN,NaN,122.000000,129.0,37.555556,36.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.398830,96.398830,12.400000,9.3,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,1,0,0

In [49]:
temp_patient_data.to_csv('first_vital_patient_data.csv',index=False)
# total_los_patient.to
total_los = patients.total_los
type(total_los)
total_los.to_csv('total_los_patients.csv')

In [37]:
np.array(total_los)

array([10.7847,  7.759 , 16.3646, ...,  2.9951,  3.2188,  5.3854])

In [ ]:
# Adding static feature of patients to patient_data

# gender = pd.Series(list(patients.gender))
# ethnicity = pd.Series(list(patients.ethnicity))
# age = pd.Series(list(patients.age))
# insurance = pd.Series(list(patients.insurance))

# patient_data['gender'] = gender.values
# patient_data['ethnicity'] = ethnicity.values
# patient_data['age'] = age.values
# patient_data['insurance'] = insurance.values

In [54]:
working_patient_data = patient_data.copy()

In [58]:
# working_patient_data.columns[]
patients.shape[0]

30495

In [59]:
drop_list = []

for i in range(0,working_patient_data.shape[1]):
    if working_patient_data.iloc[:,i].isnull().sum() / working_patient_data.shape[0] > 0.99:
        drop_list.append(working_patient_data.columns[i])
        
working_patient_data.drop(drop_list,axis=1,inplace=True)

# working_patient_data.drop(['red blood cell count ascites'],axis=1,inplace=True)
# working_patient_data.drop(['red blood cell count csf'],axis=1,inplace=True)
# working_patient_data.drop(['red blood cell count pleural'],axis=1,inplace=True)
# working_patient_data.drop(['red blood cell count urine'],axis=1,inplace=True)
# working_patient_data.drop(['red blood cell count'],axis=1,inplace=True)
# working_patient_data.drop(['alanine aminotransferase'],axis=1,inplace=True)


# working_patient_data = working_patient_data.fillna(working_patient_data.mean())

In [60]:
working_patient_data.shape

(30495, 95)

In [61]:
from sklearn.impute import SimpleImputer
missingvalues = SimpleImputer(missing_values = np.nan, strategy = 'median')
missingvalues = missingvalues.fit(working_patient_data)
working_patient_data = missingvalues.transform(working_patient_data)

In [41]:
# list(working_patient_data[:,83])

In [32]:
# get y value
total_los = np.array(patients.total_los)
sum(np.isnan(total_los))
total_los.to_csv()

NameError: name 'df' is not defined

In [67]:
from sklearn.svm import SVR
from sklearn.metrics import mean_absolute_error 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# mm_scaler = MinMaxScaler()
# working_patient_data = mm_scaler.fit_transform(working_patient_data)

X_train, X_test, y_train, y_test = train_test_split(working_patient_data, total_los, test_size=0.3, random_state=1)

In [71]:
np.random.seed(1)

In [39]:
conda install -c conda-forge xgboost

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/student/miniconda3/envs/huy_thesis

  added / updated specs:
    - xgboost


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    _py-xgboost-mutex-2.0      |            cpu_0           8 KB  conda-forge
    ca-certificates-2020.6.20  |       hecda079_0         145 KB  conda-forge
    certifi-2020.6.20          |   py37hc8dfbb8_0         151 KB  conda-forge
    libxgboost-1.0.2           |       he1b5a44_1         2.8 MB  conda-forge
    openssl-1.1.1g             |       h516909a_0         2.1 MB  conda-forge
    py-xgboost-1.0.2           |   py37hc8dfbb8_1         2.2 MB  conda-forge
    xgboost-1.0.2              |   py37h3340039_1          11 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         7.5 MB

The following NEW packages will be INSTALLED:

  _py-xgboost-mutex  conda-forge/linux-64::_py-xgboost-mutex-2.0-cpu_0
  libxgboost         conda-forge/linux-64::libxgboost-1.0.2-he1b5a44_1
  py-xgboost         conda-forge/linux-64::py-xgboost-1.0.2-py37hc8dfbb8_1
  xgboost            conda-forge/linux-64::xgboost-1.0.2-py37h3340039_1

The following packages will be UPDATED:

  ca-certificates     pkgs/main::ca-certificates-2020.1.1-0 --> conda-forge::ca-certificates-2020.6.20-hecda079_0

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi               pkgs/main::certifi-2020.6.20-py37_0 --> conda-forge::certifi-2020.6.20-py37hc8dfbb8_0
  openssl              pkgs/main::openssl-1.1.1g-h7b6447c_0 --> conda-forge::openssl-1.1.1g-h516909a_0



Downloading and Extracting Packages
openssl-1.1.1g       | 2.1 MB    | ##################################### | 100%
_py-xgboost-mutex-2. | 8 KB      | ##################################### | 100%
xgboost-1.0.2        | 11 KB     | ##################################### | 100%
ca-certificates-2020 | 145 KB    | ##################################### | 100%
py-xgboost-1.0.2     | 2.2 MB    | ##################################### | 100%
libxgboost-1.0.2     | 2.8 MB    | ##################################### | 100%
certifi-2020.6.20    | 151 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [ ]:
clf = SVR(kernel='linear')
clf.fit(X_train, y_train)

training_loss = mean_absolute_error(y_train, clf.predict(X_train))
testing_loss = mean_absolute_error(y_test, clf.predict(X_test))

print('Training loss is {}'.format(training_loss))
print('Testing loss is {}'.format(testing_loss))