In [11]:
import numpy as np
import pandas as pd
import scipy.stats as ss
import matplotlib.pyplot as plt
import IPython.display as idis
import seaborn as sns
import copy
import scipy.stats as stat
import functools 
%matplotlib inline
pd.options.display.max_rows = 999
pd.options.display.max_columns = 300
import functools
import smogn

from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.metrics import mean_absolute_error 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
import xgboost

In [12]:
np.random.seed(1)
#load data
working_patient_data = pd.read_csv('first_vital_patient_data.csv')  
total_los_patient = pd.read_csv('total_los_patients.csv')

print(working_patient_data.shape)
print(working_patient_data.head(10))
# print(working_patient_data.shape)
# print(total_los_patient)
# drop_long_los = functools.reduce(lambda x, y: x + [y] if (total_los_patient.iloc[y,total_los_patient.columns.get_loc('total_los')] <= 10) & (total_los_patient.iloc[y,total_los_patient.columns.get_loc('total_los')] > 20 )  else x +[], [i for i in range(0,total_los_patient.shape[0])] ,[])
drop_long_los = total_los_patient.index[(total_los_patient['total_los'] <= 20) | (total_los_patient['total_los'] > 90)].tolist()
print(len(drop_long_los))
# print(len(drop_long_los))
working_patient_data = working_patient_data.drop(drop_long_los)
total_los_patient = total_los_patient.drop(drop_long_los)
working_patient_data = working_patient_data.reset_index(drop=True)
total_los_patient = total_los_patient.reset_index(drop=True)

# print(total_los_patient)

drop_list = []

for i in range(0,working_patient_data.shape[1]):
    if working_patient_data.iloc[:,i].isnull().sum() / working_patient_data.shape[0] > 0.5:
        drop_list.append(working_patient_data.columns[i])
        
working_patient_data.drop(drop_list,axis=1,inplace=True)

working_patient_data.shape
# print(total_los_patient.head())
# working_patient_data.iloc[1,:]
# total_los_patient.shape
total_los_series = pd.Series(total_los_patient['total_los'])
working_patient_data['total_los'] = total_los_series.values
working_patient_data.fillna(value=0, inplace=True)
working_patient_data.shape

(30495, 111)
   alanine aminotransferase  albumin  albumin ascites  albumin pleural  \
0                      25.0      1.8              NaN              NaN
1                      24.0      2.8              NaN              NaN
2                      23.0      3.0              NaN              NaN
3                      11.0      NaN              NaN              NaN
4                       NaN      NaN              NaN              NaN
5                       NaN      NaN              NaN              NaN
6                      16.0      3.9              NaN              NaN
7                       NaN      NaN              NaN              NaN
8                      45.0      4.9              NaN              NaN
9                       NaN      NaN              NaN              NaN

   albumin urine  alkaline phosphate  anion gap  asparate aminotransferase  \
0            NaN                73.0       15.0                       69.0
1            NaN               837.0       15.0                       64.0
2            NaN                58.0       20.0                       34.0
3            NaN                66.0       13.0                       12.0
4            NaN                 NaN       14.0                        NaN
5            NaN                 NaN       11.0                        NaN
6            NaN                49.0       10.0                       16.0
7            NaN                 NaN       12.0                        NaN
8            NaN                81.0       15.0                       24.0
9            NaN                 NaN       15.0                        NaN

   basophils  bicarbonate  bilirubin  blood urea nitrogen  calcium  \
0        NaN         17.0   0.800000                 42.0     17.0
1        0.1         21.0   1.516667                 10.0     21.0
2        0.1         18.0   0.200000                 65.0     18.0
3        1.2         26.0   0.400000                 17.0     26.0
4        NaN         26.0        NaN                 19.0     26.0
5        NaN         25.0        NaN                 39.0     25.0
6        NaN         24.0   0.400000                 15.0     24.0
7        NaN         22.0        NaN                 10.0     22.0
8        NaN         27.0   1.100000                 11.0     27.0
9        NaN         22.0        NaN                 25.0     22.0

   calcium ionized  calcium urine  cardiac index  cardiac output fick  \
0        18.333333            6.7           1.13                  NaN
1        21.000000            7.7            NaN                  NaN
2              NaN            7.9            NaN                  NaN
3        27.000000            9.2           1.14                  NaN
4              NaN            9.6            NaN                  NaN
5        25.000000            8.9           1.07                  NaN
6        21.000000            9.1           0.97                  NaN
7        22.000000            NaN           1.18                  NaN
8        26.000000            8.9           1.16                  NaN
9              NaN            8.9            NaN                  NaN

   cardiac output thermodilution  central venous pressure  chloride  \
0                        2.52252                 2.856667   5.59701
1                            NaN                      NaN       NaN
2                            NaN                      NaN       NaN
3                            NaN                      NaN       NaN
4                            NaN                      NaN       NaN
5                            NaN                      NaN       NaN
6                        2.51685                 4.480000       NaN
7                            NaN                      NaN       NaN
8                            NaN                      NaN       NaN
9                            NaN                      NaN       NaN

   chloride urine  cholesterol  cholesterol hdl  cholesterol ldl   co2  \
0             9.0        111.0              NaN              NaN   NaN
1             NaN        108.0              NaN              NaN   NaN
2             8.0        101.0              NaN              NaN   NaN
3             NaN        100.0              NaN            208.0  48.0
4             NaN        106.0              NaN              NaN   NaN
5             9.0        112.0              NaN              NaN   NaN
6            17.0        116.0              NaN            252.0  48.0
7             NaN        110.0              NaN              NaN   NaN
8             NaN        102.0              NaN              NaN   NaN
9             NaN        105.0              NaN              NaN   NaN

   co2 (etco2, pco2, etc.)  creatinine  creatinine ascites  \
0                      NaN         2.5                 NaN
1                      NaN         0.5                 NaN
2                      NaN        10.0                 NaN
3                    141.0         1.4                 NaN
4                      NaN         0.7                 NaN
5                      NaN         1.7                 NaN
6                    182.0         0.5                 NaN
7                      NaN         0.7                 NaN
8                      NaN         1.0                 NaN
9                      NaN         1.2                 NaN

   creatinine body fluid  creatinine pleural  creatinine urine  \
0                    NaN                 NaN               NaN
1                    NaN                 NaN               NaN
2                    NaN                 NaN               NaN
3                    NaN                 NaN               NaN
4                    NaN                 NaN               NaN
5                    NaN                 NaN               NaN
6                    NaN                 NaN               NaN
7                    NaN                 NaN               NaN
8                    NaN                 NaN               NaN
9                    NaN                 NaN               NaN

   diastolic blood pressure  eosinophils  fibrinogen  \
0                      55.0          NaN       431.0
1                      69.0          NaN         NaN
2                      61.0          NaN         NaN
3                      76.5          NaN         NaN
4                      54.0          NaN         NaN
5                      68.0          NaN       149.5
6                      65.0          NaN         NaN
7                      50.0          NaN       163.0
8                      84.0          NaN         NaN
9                      58.0          NaN         NaN

   fraction inspired oxygen  fraction inspired oxygen set  \
0                       NaN                           0.4
1                       NaN                           0.5
2                       NaN                           NaN
3                       NaN                           0.6
4                       NaN                           NaN
5                       NaN                           0.4
6                       NaN                           0.5
7                       NaN                           0.5
8                       NaN                           NaN
9                       NaN                           NaN

   glascow coma scale total  glucose  heart rate  height  hematocrit  \
0                       6.0    136.0       75.00     NaN   30.900000
1                      15.0    153.0       97.00     NaN   31.800000
2                      15.0    130.0       94.00     NaN   34.400001
3                       3.0    157.0      100.00     NaN   37.400001
4                      15.0    126.0      101.00     NaN   36.000000
5                       9.0     85.0       73.00     NaN   30.900000
6                       8.0    119.0      112.25     NaN   34.300000
7                      15.0    105.0       85.00     NaN   32.900001
8                      15.0    243.0      106.00     NaN   41.300000
9                      14.0    139.0       97.00     NaN   36.500000

   hemoglobin  lactate  lactate dehydrogenase  lactate dehydrogenase pleural  \
0        10.4      2.1                    NaN                            NaN
1        10.6      2.1                  330.0                            NaN
2         9.2      NaN                    NaN                            NaN
3        12.9      2.4                    NaN                            NaN
4        12.5      NaN                    NaN                            NaN
5        11.0      2.0                    NaN                            NaN
6         7.9      NaN                  224.0                            NaN
7        11.0      NaN                    NaN                            NaN
8        14.6      3.6                  195.0                            NaN
9        12.8      NaN                    NaN                            NaN

   lactic acid  lymphocytes  lymphocytes ascites  lymphocytes atypical  \
0          2.1          3.0                  NaN                   NaN
1          NaN          6.5                  NaN                   NaN
2          NaN          0.8                  NaN                   NaN
3          2.4         41.6                  NaN                   NaN
4          NaN          NaN                  NaN                   NaN
5          2.0          NaN                  NaN                   NaN
6          NaN          NaN                  NaN                   NaN
7          NaN          NaN                  NaN                   NaN
8          NaN          NaN                  NaN                   NaN
9          NaN          NaN                  NaN                   NaN

   lymphocytes atypical csl  lymphocytes body fluid  lymphocytes percent  \
0                       NaN                     NaN                  NaN
1                       NaN                     NaN                  NaN
2                       NaN                     NaN                  NaN
3                       NaN                     NaN                  NaN
4                       NaN                     NaN                  NaN
5                       NaN                     NaN                  NaN
6                       NaN                     NaN                  NaN
7                       NaN                     NaN                  NaN
8                       NaN                     NaN                  NaN
9                       NaN                     NaN                  NaN

   lymphocytes pleural  magnesium  mean blood pressure  \
0                  NaN        2.3            71.000000
1                  NaN        1.9            85.666702
2                  NaN        2.1            87.000000
3                  NaN        1.8           100.500000
4                  NaN        2.4            73.000000
5                  NaN        2.2            95.000000
6                  NaN        2.4            88.600000
7                  NaN        1.4            66.000000
8                  NaN        2.1           102.333000
9                  NaN        1.9            80.333298

   mean corpuscular hemoglobin  mean corpuscular hemoglobin concentration  \
0                         30.2                                       33.5
1                         30.8                                       33.2
2                         28.2                                       30.8
3                         28.7                                       34.5
4                         29.2                                       34.8
5                         29.9                                       35.5
6                         30.0                                       34.1
7                         30.8                                       36.3
8                         29.4                                       35.3
9                         29.7                                       35.0

   mean corpuscular volume  monocytes  monocytes csl  neutrophils  \
0                     90.0        5.0            NaN         87.0
1                     93.0        2.1            NaN         91.3
2                     92.0        1.6            NaN         97.5
3                     83.0        4.8            NaN         50.1
4                     84.0        NaN            NaN          NaN
5                     84.0        NaN            NaN          NaN
6                     88.0        NaN            NaN          NaN
7                     85.0        NaN            NaN          NaN
8                     83.0        NaN            NaN          NaN
9                     85.0        NaN            NaN          NaN

   oxygen saturation  partial pressure of carbon dioxide  \
0               98.0                           32.333333
1               98.0                           28.000000
2              100.0                                 NaN
3              100.0                           41.000000
4               97.0                                 NaN
5               96.0                           47.000000
6               99.0                           29.000000
7               97.0                           40.000000
8               96.0                           29.000000
9               98.0                                 NaN

   partial pressure of oxygen  partial thromboplastin time  \
0                        96.0                         36.2
1                         NaN                         33.2
2                         NaN                         40.6
3                        90.0                         21.7
4                         NaN                          NaN
5                       149.0                         36.0
6                       348.0                         30.8
7                       169.0                         31.8
8                         NaN                         29.9
9                         NaN                         30.4

   peak inspiratory pressure   ph  ph urine  phosphate  phosphorous  \
0                       34.0  4.7       4.7       17.4        219.0
1                        NaN  3.1       3.1        NaN        201.0
2                        NaN  6.9       6.9        NaN        330.0
3                       25.0  2.9       2.9       19.0        249.0
4                        NaN  3.7       3.7        NaN        243.0
5                       25.0  3.0       3.0       21.0         51.0
6                       31.0  4.5       4.5       25.0        115.0
7                       18.0  NaN       NaN       13.0        238.0
8                        NaN  3.7       3.7        NaN        220.0
9                        NaN  2.4       2.4        NaN        216.0

   plateau pressure  platelets  positive end-expiratory pressure  \
0               8.0        8.0                        373.075673
1               NaN        NaN                               NaN
2               NaN        NaN                               NaN
3               8.0        8.0                               NaN
4               NaN        NaN                               NaN
5               NaN        5.0                               NaN
6               NaN        5.0                               NaN
7               5.0        5.0                               NaN
8               NaN        NaN                               NaN
9               NaN        NaN                               NaN

   positive end-expiratory pressure set  post void residual  potassium  \
0                                   4.9                 NaN        1.5
1                                   3.3                 NaN        1.1
2                                   4.8                 NaN        1.0
3                                   3.0                 NaN        1.1
4                                   3.8                 NaN        NaN
5                                   3.4                 NaN        1.2
6                                   3.0                 NaN        1.8
7                                   4.0                 NaN        1.5
8                                   4.0                 NaN        1.2
9                                   4.2                 NaN        1.3

   potassium serum  prothrombin time inr  prothrombin time pt  \
0             14.4                  27.0                 39.0
1             12.8                   NaN                  NaN
2             12.6                   NaN                  NaN
3             12.7                   NaN                  NaN
4              NaN                   NaN                  NaN
5             13.4                   NaN                  NaN
6             16.5                   NaN                 30.0
7             14.9                   NaN                  NaN
8             13.4                   NaN                  NaN
9             14.0                   NaN                  NaN

   pulmonary artery pressure mean  pulmonary artery pressure systolic  \
0                            22.0                                3.43
1                             NaN                                3.42
2                             NaN                                3.25
3                             NaN                                4.50
4                             NaN                                4.30
5                             NaN                                3.67
6                             NaN                                4.00
7                             NaN                                3.55
8                             NaN                                4.97
9                             NaN                                4.29

   pulmonary capillary wedge pressure  red blood cell count  \
0                                 NaN                   NaN
1                                 NaN                   NaN
2                                 NaN                   NaN
3                                 NaN                   NaN
4                                 NaN                   NaN
5                                 NaN                   NaN
6                                 NaN                   NaN
7                                 NaN                   NaN
8                                 NaN                   NaN
9                                 NaN                   NaN

   red blood cell count ascites  red blood cell count csf  \
0                           NaN                       NaN
1                           NaN                       NaN
2                           NaN                       NaN
3                           NaN                       NaN
4                           NaN                       NaN
5                           NaN                       NaN
6                           NaN                       NaN
7                           NaN                       NaN
8                           NaN                       NaN
9                           NaN                       NaN

   red blood cell count pleural  red blood cell count urine  respiratory rate  \
0                         18.00                        18.0             139.0
1                         28.00                         NaN             141.0
2                         13.00                         NaN             134.0
3                         14.00                        14.0             136.0
4                         18.00                         NaN             142.0
5                         16.00                        16.0             145.0
6                         17.25                        14.0             140.0
7                         28.00                        12.0             140.0
8                         20.00                         NaN             140.0
9                         21.00                         NaN             138.0

   respiratory rate set  sodium  systemic vascular resistance  \
0                 900.0  102.00                     37.599999
1                   NaN  119.00                     36.666683

(3740, 60)

In [13]:
working_patient_data.head()

,alanine aminotransferase,alkaline phosphate,anion gap,asparate aminotransferase,bicarbonate,bilirubin,blood urea nitrogen,calcium,calcium ionized,calcium urine,cardiac index,cholesterol,creatinine,diastolic blood pressure,glascow coma scale total,glucose,heart rate,hematocrit,hemoglobin,lactate,lactic acid,lymphocytes,magnesium,mean blood pressure,mean corpuscular hemoglobin,mean corpuscular hemoglobin concentration,mean corpuscular volume,neutrophils,oxygen saturation,partial pressure of carbon dioxide,partial pressure of oxygen,partial thromboplastin time,peak inspiratory pressure,ph,ph urine,phosphate,phosphorous,platelets,positive end-expiratory pressure set,potassium,potassium serum,pulmonary artery pressure systolic,red blood cell count pleural,red blood cell count urine,respiratory rate,sodium,systemic vascular resistance,systolic blood pressure,temperature,troponin-t,venous pvo2,white blood cell count,male,female,Government_insurance,Medicaid_insurance,Medicare_insurance,Private_insurance,Self_Pay_insurance,total_los
0,0.0,0.0,14.0,0.0,26.0,0.0,19.0,26.0,0.0,9.6,0.00,106.0,0.7,54.0,15.0,126.0,101.0,36.000000,12.5,0.0,0.0,0.0,2.4,73.000000,29.2,34.8,84.0,0.0,97.0,0.0,0.0,0.0,0.0,3.7,3.7,0.0,243.0,0.0,3.8,0.0,0.0,4.30,18.0,0.0,142.0,109.0,36.444422,0.0,0.0,0.000000,12.8,0.00,0,1,0,0,0,1,0,25.5292
1,112.0,127.0,16.0,142.0,20.0,1.3,55.0,20.0,23.0,8.4,0.00,107.0,2.6,52.5,15.0,137.0,102.0,36.000000,12.5,2.8,2.8,0.0,2.4,63.833324,32.6,34.6,94.0,0.0,91.0,43.0,0.0,50.6,0.0,3.2,3.2,0.0,76.0,0.0,4.2,1.7,15.6,3.82,27.0,0.0,139.0,86.5,37.111106,0.0,0.0,0.000000,18.2,7.32,1,0,0,0,1,0,0,25.5485
2,0.0,0.0,12.0,0.0,26.0,0.0,18.0,26.0,27.0,7.9,1.17,104.0,0.4,57.0,11.0,77.0,74.0,28.500000,9.9,1.1,1.1,5.0,1.9,94.000000,27.9,34.6,81.0,59.0,98.0,41.0,145.0,29.5,14.0,2.9,2.9,0.0,177.0,5.0,3.8,1.3,13.7,3.54,12.5,14.0,138.0,135.0,36.666683,670.0,500.0,0.000000,15.9,7.41,1,0,0,0,0,1,0,27.2188
3,9.0,94.0,11.0,17.0,23.0,0.3,17.0,23.0,0.0,7.2,0.00,110.0,0.4,44.0,15.0,95.0,91.0,26.000000,11.2,0.0,0.0,4.0,1.8,58.333302,30.5,35.4,86.0,84.0,99.0,0.0,0.0,34.1,0.0,3.4,3.4,0.0,41.0,0.0,3.9,0.9,11.6,3.68,20.0,0.0,140.0,87.0,37.833317,0.0,0.0,0.000000,1.6,0.00,1,0,0,0,0,1,0,32.9097
4,0.0,0.0,11.0,0.0,22.0,0.0,13.0,22.0,26.0,8.0,1.07,111.0,0.7,63.0,8.0,115.0,96.0,33.900001,12.2,1.8,1.8,0.0,1.9,82.000000,30.9,34.4,90.0,0.0,100.0,44.0,99.0,22.3,26.0,3.0,3.0,14.0,249.0,5.0,3.7,1.0,12.5,3.96,14.0,14.0,140.0,123.0,37.277789,580.0,600.0,108.300003,13.8,7.36,1,0,1,0,0,0,0,28.9542

In [14]:
#balanced data
balance_patient_data = smogn.smoter(data = working_patient_data, y = 'total_los')
balance_patient_data

dist_matrix: 100%|##########| 632/632 [07:06<00:00,  1.48it/s]
synth_matrix: 100%|##########| 632/632 [00:01<00:00, 387.63it/s]
r_index: 100%|##########| 605/605 [00:01<00:00, 385.08it/s]

,alanine aminotransferase,alkaline phosphate,anion gap,asparate aminotransferase,bicarbonate,bilirubin,blood urea nitrogen,calcium,calcium ionized,calcium urine,cardiac index,cholesterol,creatinine,diastolic blood pressure,glascow coma scale total,glucose,heart rate,hematocrit,hemoglobin,lactate,lactic acid,lymphocytes,magnesium,mean blood pressure,mean corpuscular hemoglobin,mean corpuscular hemoglobin concentration,mean corpuscular volume,neutrophils,oxygen saturation,partial pressure of carbon dioxide,partial pressure of oxygen,partial thromboplastin time,peak inspiratory pressure,ph,ph urine,phosphate,phosphorous,platelets,positive end-expiratory pressure set,potassium,potassium serum,pulmonary artery pressure systolic,red blood cell count pleural,red blood cell count urine,respiratory rate,sodium,systemic vascular resistance,systolic blood pressure,temperature,troponin-t,venous pvo2,white blood cell count,male,female,Government_insurance,Medicaid_insurance,Medicare_insurance,Private_insurance,Self_Pay_insurance,total_los
0,70.285937,58.443586,14.556414,82.225658,19.887171,2.479753,18.120559,15.157648,21.608964,7.205255,1.144359,112.052549,0.694745,52.496135,6.496135,129.700164,101.955181,33.358577,11.310510,1.866924,1.866924,24.676981,2.388717,69.217928,31.127048,36.077434,86.165378,2.058733,97.165378,44.887171,93.472164,36.987944,28.443586,4.960896,4.960896,24.556414,47.976810,14.165378,5.388717,1.511283,15.957960,3.532179,19.639364,24.451316,142.217928,100.774342,38.314950,339.196299,350.0,56.660733,1.627048,7.266917,0,1,0,0,0,0,0,48.493505
1,9.592794,14.885370,22.669214,9.592794,12.669214,0.132314,80.740171,12.669214,3.307860,8.474563,1.167304,103.653930,4.190065,66.653930,15.000000,192.783844,96.608078,24.978384,8.469978,0.264629,0.000000,4.695415,2.363865,93.361354,26.729258,33.896943,78.661572,93.209170,96.676856,5.954148,0.000000,49.517141,0.000000,7.087773,3.407096,0.000000,139.699782,0.000000,4.266921,1.098472,13.286244,3.171681,21.346070,0.000000,134.992358,155.707424,37.793593,0.000000,0.0,44.301965,7.161572,7.306692,0,0,0,0,0,0,0,42.684404
2,35.203628,41.040726,16.837097,33.280639,19.959274,0.381451,24.389115,0.000000,23.877823,8.775565,0.045206,106.366531,1.475565,94.574601,0.000000,120.733063,88.022583,34.437097,11.087782,1.277379,0.126250,0.000000,1.975565,104.981858,30.836653,32.322177,95.755646,0.000000,96.162903,41.592743,0.000000,23.576491,14.285080,3.232581,3.232581,7.366531,268.882264,5.000000,4.304073,1.683710,18.728952,3.601448,16.244354,10.488708,139.162903,121.122177,36.265210,564.411698,500.0,107.647907,11.757016,7.342851,0,0,0,0,0,0,0,47.934328
3,0.000000,0.000000,17.280872,0.000000,23.656174,0.000000,3.687651,23.656174,27.593221,8.109443,1.092809,95.750605,0.303148,66.845035,15.000000,101.501209,98.527848,32.847215,11.281356,1.354722,0.787409,0.000000,1.803148,92.813558,31.912107,34.262470,93.186442,0.000000,98.031477,47.467314,95.125907,13.477963,0.000000,2.215738,2.215738,0.000000,311.874093,1.719128,3.896852,0.412591,4.641645,3.567893,18.280872,0.000000,133.343826,143.343826,36.495009,0.000000,0.0,0.000000,14.290557,7.367506,1,0,0,0,0,1,0,43.060498
4,22.703013,67.992802,11.890962,61.060251,26.139163,3.834151,34.109038,21.090376,5.642762,8.410904,0.353415,117.218075,1.918795,50.860837,4.921088,98.533724,81.375900,33.975607,11.049640,0.415782,0.415782,22.727406,1.759397,66.157824,32.096268,32.454519,99.139163,70.569582,98.812050,9.800586,0.000000,38.343482,0.000000,2.956385,2.956385,0.000000,79.842176,0.000000,4.029699,1.675180,18.636017,3.426356,19.969875,0.000000,151.248201,107.672887,37.029663,0.000000,0.0,60.939749,4.069155,2.182858,0,0,0,0,0,0,0,42.128654
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3732,120.000000,89.000000,15.000000,64.000000,26.000000,0.700000,168.000000,0.000000,28.000000,8.100000,1.120000,112.000000,1.900000,74.000000,0.000000,265.000000,92.000000,26.800000,8.500000,0.000000,0.000000,1.900000,3.800000,104.000000,28.100000,31.700000,89.000000,94.500000,98.000000,32.000000,0.000000,35.400000,26.000000,5.700000,5.700000,22.000000,117.000000,8.000000,3.900000,1.200000,13.700000,3.020000,11.500000,20.000000,149.000000,170.000000,37.666667,520.000000,500.0,101.500000,24.100000,7.530000,1,0,0,0,1,0,0,27.281300
3733,0.000000,0.000000,13.000000,0.000000,19.000000,0.000000,17.000000,0.000000,18.000000,7.300000,1.120000,117.000000,1.200000,62.000000,0.000000,156.000000,102.000000,29.900000,10.800000,2.800000,2.800000,0.000000,2.100000,79.000000,30.700000,36.200000,85.000000,0.000000,100.000000,30.000000,0.000000,31.500000,14.000000,6.000000,6.000000,10.000000,169.000000,5.000000,4.500000,1.100000,13.000000,3.530000,8.000000,18.000000,144.000000,117.000000,37.055556,720.000000,450.0,90.809192,10.100000,7.360000,1,0,0,0,1,0,0,50.629200
3734,12.000000,31.000000,12.000000,28.000000,23.000000,1.500000,15.000000,0.000000,22.000000,8.100000,1.090000,102.000000,0.800000,59.000000,0.000000,107.000000,80.000000,26.900000,9.700000,2.100000,2.100000,0.000000,2.200000,76.000000,30.300000,34.800000,87.000000,0.000000,99.000000,33.000000,0.000000,24.100000,14.000000,3.400000,3.400000,16.000000,133.000000,8.000000,4.200000,1.300000,14.300000,3.190000,19.000000,24.000000,132.000000,130.000000,0.000000,560.000000,500.0,70.400000,12.800000,7.410000,1,0,0,0,0,1,0,20.095800
3735,35.000000,41.000000,17.000000,31.000000,20.000000,0.300000,25.000000,0.000000,24.000000,8.800000,0.000000,106.000000,1.500000,96.000000,0.000000,120.000000,89.000000,34.600000,11.100000,1.200000,0.000000,0.000000,2.000000,106.000000,30.800000,32.200000,96.000000,0.000000,96.000000,42.000000,0.000000,23.100000,14.000000,3.200000,3.200000,7.000000,271.000000,5.000000,4.300000,1.700000,18.900000,3.610000,16.000000,10.000000,139.000000,121.000000,36.222222,566.000000,500.0,109.000000,11.700000,7.340000,0,1,0,0,1,0,0,41.332600
3738,70.000000,353.000000,12.000000,106.000000,19.000000,0.400000,19.000000,0.000000,23.000000,7.300000,0.000000,106.000000,1.400000,73.000000,0.000000,110.000000,79.000000,28.700000,9.100000,3.400000,0.000000,7.400000,3.000000,85.000000,28.800000,31.500000,91.000000,85.800000,97.000000,30.000000,0.000000,34.100000,28.000000,3.600000,3.600000,23.000000,223.000000,5.000000,3.600000,1.400000,15.700000,3.150000,19.000000,14.000000,133.000000,124.000000,36.388889,502.000000,500.0,0.000000,14.400000,7.480000,0,1,0,0,1,0,0,56.879900

In [15]:
total_los = np.array(balance_patient_data['total_los'])

In [16]:
balance_patient_data.drop(['total_los'],axis=1,inplace=True)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(balance_patient_data, total_los, test_size=0.2, random_state=1)
print(X_train)

      alanine aminotransferase  alkaline phosphate  anion gap  \
893                   0.000000            0.000000  13.000000
1188                 12.824802          157.710625  11.940945
808                   0.000000            0.000000  11.729558
1064                  6.000000          329.000000  17.000000
1023                  0.000000            0.000000  11.000000
...                        ...                 ...        ...
3017                115.000000          644.000000  13.000000
905                   0.000000            0.000000  15.709154
1096                 20.383325          100.429995  12.068095
235                  86.048793           39.621939  14.860628
1061                  0.000000            0.000000  16.438234

      asparate aminotransferase  bicarbonate  bilirubin  blood urea nitrogen  \
893                    0.000000    23.000000   0.000000            50.000000
1188                  20.295274    22.588582   0.982284            25.881890
808                    0.000000    25.392035   0.243186            49.364779
1064                  23.000000    17.000000   0.200000            29.000000
1023                   0.000000    20.000000   0.000000            21.000000
...                         ...          ...        ...                  ...
3017                 309.000000    19.000000   0.900000            71.000000
905                    0.000000    25.290846   0.000000            16.362684
1096                  27.910480    26.863810   5.166334             5.885235
235                   42.391989    18.329267   0.475958            28.771780
1061                   0.000000    19.570221   0.000000            10.429779

        calcium  calcium ionized  calcium urine  cardiac index  cholesterol  \
893   23.000000        22.000000       7.400000       1.140000   100.000000
1188  22.588582        23.588582       7.711811       0.493996   108.411418
808   25.392035        26.513628       7.963522       0.137400   101.270442
1064  17.000000        23.000000       7.400000       1.070000   109.000000
1023  20.000000        21.000000       8.100000       1.110000   107.000000
...         ...              ...            ...            ...          ...
3017   0.000000        19.000000       7.100000       0.000000   110.000000
905   25.290846        29.000000       8.745423       1.135458   106.127463
1096  26.863810         0.000000       0.510713       0.000000   100.476665
235   18.329267        18.379791       6.160801       1.032787   112.810105
1061  19.570221        23.000000       3.825036       0.655754   108.412869

      creatinine  diastolic blood pressure  glascow coma scale total  \
893     2.700000                 37.000000                 11.000000
1188    0.600000                 46.940945                 10.000000
808     2.000000                 48.088053                 15.000000
1064    0.900000                 83.000000                 10.000000
1023    1.800000                 54.000000                  3.000000
...          ...                       ...                       ...
3017    2.900000                 61.000000                  0.000000
905     1.287254                 84.055625                  6.545772
1096    0.413619                 54.068095                 15.000000
235     1.062021                 53.493036                  6.379791
1061    0.771912                 66.263973                 10.702207

         glucose  heart rate  hematocrit  hemoglobin   lactate  lactic acid  \
893   220.000000   66.000000   27.900000    8.200000  1.300000     1.300000
1188   89.001966   91.879924   28.912401    9.906102  0.658662     0.658662
808   113.081770   72.243186   32.250107   10.475681  0.097274     0.097274
1064  247.000000   92.000000   30.300000    9.200000  2.100000     2.100000
1023  119.000000  108.000000   32.300000   12.000000  1.600000     1.600000
...          ...         ...         ...         ...       ...          ...
3017   97.000000   83.000000   30.200000   10.100000  0.900000     0.900000
905   224.581691   87.346471   41.676478   14.825493  3.576478     0.668945
1096  197.390965   90.659525   24.761286    8.081714  0.000000     0.000000
235   162.440782  122.353664   34.181011   10.222822  2.848084     2.848084
1061  124.340068   81.570221   32.413198   11.055331  1.805073     1.805073

      lymphocytes  magnesium  mean blood pressure  \
893      0.000000   2.000000            66.666702
1188     3.329921   1.917716            64.177165
808      2.097274   2.036478            69.561148
1064     2.000000   1.500000            93.000000
1023     0.000000   2.400000            72.000000
...           ...        ...                  ...
3017    15.000000   2.600000            74.000000
905      0.000000   1.887254           110.346471
1096     0.000000   1.713619            73.523335
235      3.569686   2.124042            74.964314
1061     4.297793   2.185110            83.685297

      mean corpuscular hemoglobin  mean corpuscular hemoglobin concentration  \
893                     29.600000                                  29.400000
1188                    31.576575                                  33.917716
808                     28.337735                                  32.349894
1064                    27.900000                                  32.100000
1023                    32.000000                                  37.200000
...                           ...                                        ...
3017                    24.600000                                  33.400000
905                     31.301971                                  35.600000
1096                    34.245524                                  32.472380
235                     31.844251                                  34.324042
1061                    30.565148                                  34.152795

      mean corpuscular volume  neutrophils  oxygen saturation  \
893                100.000000     0.000000         100.000000
1188                93.529527    90.464370          96.627297
808                 88.121593    90.583646          99.513628
1064                87.000000    94.100000          98.000000
1023                86.000000     0.000000          96.000000
...                       ...          ...                ...
3017                74.000000    60.000000          96.000000
905                 87.964081     0.000000          99.418309
1096               106.046670     0.000000          93.408570
235                 92.860628    71.240419          97.569686
1061                89.421324    30.944109          99.570221

      partial pressure of carbon dioxide  partial pressure of oxygen  \
893                            58.000000                    0.000000
1188                           34.529527                  129.944878
808                            39.364779                  122.811327
1064                           35.000000                  162.000000
1023                           36.000000                   70.000000
...                                  ...                         ...
3017                           30.000000                    0.000000
905                            41.581691                  200.071838
1096                            0.000000                    0.000000
235                            36.240419                  152.278744
1061                           38.157351                  278.658065

      partial thromboplastin time  peak inspiratory pressure        ph  \
893                    100.600000                  22.000000  3.200000
1188                    28.364174                  24.879924  3.523622
808                     29.958071                   0.000000  3.860796
1064                    25.000000                  14.000000  3.900000
1023                    34.800000                  28.000000  3.400000
...                           ...                        ...       ...
3017                    47.400000                   0.000000  4.000000
905                     27.298029                  24.872537  5.050985
1096                    38.799236                   0.000000  0.197476
235                     40.259062                  31.050523  5.188502
1061                    50.659515                  21.438234  4.128934

      ph urine  phosphate  phosphorous  platelets  \
893   3.200000  14.000000   375.000000   5.000000
1188  3.523622  22.998034   462.011798   7.352363
808   3.860796   0.000000   279.890973   0.000000
1064  3.900000  18.000000   480.000000   5.000000
1023  3.400000  26.000000   105.000000  15.000000
...        ...        ...          ...        ...
3017  4.000000   0.000000   320.000000   0.000000
905   5.050985  18.290846   184.209782   5.000000
1096  0.197476   0.000000    66.935725   0.000000
235   5.188502  27.721256    81.987802   7.025262
1061  4.128934  17.438234   198.379049   5.000000

      positive end-expiratory pressure set  potassium  potassium serum  \
893                               3.800000   1.400000        14.100000
1188                              4.229527   1.400000        15.035433
808                               4.524319   1.351363        14.383858
1064                              3.900000   1.500000        16.500000
1023                              4.050000   1.200000        13.400000
...                                    ...        ...              ...
3017                              4.100000   1.400000        15.700000
905                               3.874507   1.258169        14.032676
1096                              3.893190   1.693190        15.929381
235                               5.110105   1.705052        15.596167
1061                              3.699154   1.128934        13.232316

      pulmonary artery pressure systolic  red blood cell count pleural  \
893                             2.780000                     24.500000
1188                            3.139468                     24.089565
808                             3.682851                     20.270442
1064                            3.300000                     15.000000
1023                            3.770000                     17.000000
...                                  ...                           ...
3017                            4.090000                     13.000000
905                             4.739444                     12.236385
1096                            2.349962                     18.795715
235                             3.215714                     18.860628
1061                            3.630169                     21.876469

      red blood cell count urine  respiratory rate      sodium  \
893                    22.000000        132.000000  126.000000
1188                   10.940945        138.411418   95.472439
808                     0.000000        133.392035  110.872124
1064                   16.000000        139.000000  122.000000
1023                   18.000000        134.000000  114.000000
...                          ...               ...         ...
3017                    0.000000        138.000000   95.000000
905                    16.254927        143.127463  158.637316
1096                    0.000000        136.340475  112.433815
235                    18.860628        141.189895   93.125443
1061                   13.438234        140.851104  111.693752

      systemic vascular resistance  systolic blood pressure  temperature  \
893                      37.444423               452.000000   450.000000
1188                     37.541216               539.816936   547.047257
808                      36.264281                 0.000000     0.000000
1064                     36.666683               650.000000   450.000000
1023                     38.200001               640.000000   640.000000
...                            ...                      ...          ...
3017                     35.666667                 0.000000     0.000000
905                      37.070328               668.438015   650.000000
1096                     36.682985                 0.000000     0.000000
235                      37.341757               737.531361   700.000000
1061                     37.142797               549.570221   528.511036

      troponin-t  venous pvo2  white blood cell count  male  female  \
893     0.000000    17.100000                7.170000     1       0
1188    0.000000    19.781890                7.431181     1       0
808     7.879222    17.316354                7.425409     0       0
1064    0.000000    13.400000                7.410000     0       1
1023    0.000000    11.700000                7.350000     1       0
...          ...          ...                     ...   ...     ...
3017   79.000000    14.500000                7.390000     0       1
905    83.819709    15.342180                7.441275     1       0
1096    0.000000     2.163810                0.000000     1       0
235   140.493036     6.741985                7.298990     0       0
1061    0.000000    23.445328                7.374129     0       0

      Government_insurance  Medicaid_insurance  Medicare_insurance  \
893                      0                   0                   1
1188                     0                   0                   0
808                      0                   0                   1
1064                     0                   0                   1
1023                     0                   0                   1
...                    ...                 ...                 ...
3017                     0                   0                   0
905                      0                   1                   0
1096                     0                   0                   0
235                      0                   0                   0
1061                     0                   0                   0

      Private_insurance  Self_Pay_insurance
893                   0                   0
1188                  0                   0
808                   0                   0
1064                  0                   0
1023                  0                   0
...                 ...                 ...
3017                  1                   0
905                   0                   0
1096                  1                   0
235                   0                   0
1061                  0                   0

[2486 rows x 59 columns]

In [18]:
clf = SVR(kernel='poly', verbose=True)
clf.fit(X_train, y_train)

training_loss = mean_absolute_error(y_train, clf.predict(X_train))
testing_loss = mean_absolute_error(y_test, clf.predict(X_test))

print('Training loss is {}'.format(training_loss))
print('Testing loss is {}'.format(testing_loss))

[LibSVM]Training loss is 12.231612548316223
Testing loss is 12.393861721092076